[2020-11-05 10:01] DamirPorobic commented on #416
I get that most distributions use `xcb` backend but what I don't understand is why the clipboard works with `XWayland `and not with `Wayland`? Where is the error coming from? Is it an issue with the `QClipboard` or with `Wayland`? Other Stuff seems to be working with `Wayland`.

Is there a way to define in the package from the repo that `xcb` should be used? I would like to avoid forcing users to

[2020-11-05 10:08] xvitaly commented on #416
Wayland's clipboard implementation is different from the X11 clipboard implementation.

We haven't figured out exactly yet.

All packages must comply with the distribution guidelines. Also forcing `xcb` is a hack, not a fix.

[2020-11-05 10:10] xvitaly commented on #416
In the nearest future all distributions will start switching to the `wayland` backend. Fedora is a loco.

[2020-11-05 10:29] Frankstar commented on #416
hm im not sure how to fix this.
mayb a ksnip setting where you can select `xcb` or `wayland` and ksnip set the variable for the user?

[2020-11-05 10:30] Frankstar commented on #416
why is it working with the  AppImage for you?! @DamirPorobic
shouldnt there be the same issue?

[2020-11-05 11:58] xvitaly commented on #416
I suggest to create a desktop action with forcing `xcb`. I can send a PR.

[2020-11-05 12:16] LyzardKing commented on #416
This would not work when running ksnip from a terminal, right?

[2020-11-05 12:24] xvitaly commented on #416
Yes of course.

As another workaround, you can simply add to your `~/.bashrc` file the following:

[code]

After a system restart, all Qt applications will start using XWayland.

[2020-11-05 12:26] xvitaly commented on #416
AppImage contains its own Qt build from developer machine. It will not respect system configuration.

[2020-11-05 16:21] DamirPorobic commented on #416
I understand from this that it's not something that can or should be fixed by ksnip. Thought we can implement workarounds until this issue is resolved, correct?

It's probably a starting point, would be great if you could provide this PR. @LyzardKing would that be enough to fix the snap?

Yes, we can add a comment in the readme file. I'm not happy with this solution but currently there doesn't see

[2020-11-05 16:30] xvitaly commented on #416
I don't know, sorry. IMHO, this bug should be fixed on Gnome and Qt sides.

Forcing the xcb backend will do more harm than good as it can break some things for other than Gnome 3 desktop environments users.

No. Backends are initialized before the QApplication instance is created.

The same as patching the desktop file. Will do more harm than good.

[2020-11-05 16:41] xvitaly commented on #416
Another possible option is to check DE, and if it's Gnome running on X11, force XCB to start.

[2020-11-05 16:54] LyzardKing commented on #416
In the snap the issue is probably a different one, since the QT_QPA_PLATFORM variable is set to gtk3 (on gnome, mate, xfce and other gtk-based distros)

@timrichardson @Frankstar Could one of you test the snap and check the QT_QPA_PLATFORM variable?
After you installed the snap you can run `snap run --shell ksnip; env | grep QT_QPA_PLATFORM` to print it out

[2020-11-05 17:01] xvitaly commented on #416
Added workaround in PR #457.

[2020-11-05 17:21] DamirPorobic commented on #416
Don't think that we can this do this check from the application. We do those checks already to determine the correct way for grapping screenshots but at this point Qt hast started already.

But the every user can decide if he wants to do it or not and then it affects only ksnip. With the desktop file workaround we potentially harm all users but the issue that we are facing here has so far been rep

[2020-11-05 17:28] xvitaly commented on #416
It works if the environment options are set before the QApplication initialization.

[2020-11-05 18:57] fnkabit commented on #386
Hello @DamirPorobic . I would like to start working on this one.

[2020-11-05 21:38] DamirPorobic commented on #416
Sorry, saw your PR after my last post. I'm still unsure if I want to go that way because we basically force all Qt applications started after ksnip to use xcb and also for all gnome environments and so far I had only reports about the issue on Fedora.

Currently I think I favor advising users to set those variables manually when they run into this issue and meanwhile trying to push the Qt and gnom

[2020-11-05 21:39] DamirPorobic commented on #386
hehe looks like you're done already :)

[2020-11-06 07:01] Frankstar commented on #416
tested the flatpak and AppImage again.
it works for both.

So i think the best workaround on Fedora is to use the Flatpak or the AppImage.
I dont like advising users to change variables.

+1 for reporting it upstream

[2020-11-06 07:26] Frankstar commented on #416
also rename the issue pls.
to something like "Can't Copy Image on Fedora with Wayland (emtpy clipboard)"

`Copy` since the function is named that way.

it has nothing todo with firefox or gmail compose.
we cant post it in any application. (doesnt work for Libre Office, MS Teams, github, ...)

[2020-11-06 07:34] DamirPorobic commented on #416
I'm not a fan of advising users to change variables that could have effect on other applications too but it seems to be like a smaller issue then changing those variables without the user knowing about it. I'll make an entry in the readme stating what we know so far, under known issues. The users can the decide if they want use this workaround or switch to a different binary.

I wont have time tod

[2020-11-06 08:07] Frankstar commented on #416
just another thing (for the readme) came into my mind ->
what about just starting it with changed env-variable but not change it system wide?

`env QT_QPA_PLATFORM=xcb ksnip`
or just:
`QT_QPA_PLATFORM=xcb ksnip`

this way it only starts ksnip with changed `QT_QPA_PLATFORM` variable.
Other apps are not affected.

-----------

also i just started the flatpak package with
`flatpak run --env=QT_QPA_PL

[2020-11-06 08:12] DamirPorobic commented on #416
Good point, I'll mention that. I'll let you known when done so anyone here can provide feedback.

This is something @LyzardKing can probably answer, he's the flatpak and snap dude :)

[2020-11-06 08:27] Frankstar commented on #416
oh and before i forget it, Keep in mind it works with sudo privileges.
Maybe also interesting for @xvitaly

`sudo "env QT_QPA_PLATFORM=wayland" ksnip`

and clipboard is working.
(sure there are other issues / drawbacks -> like a black screen if you capture something, but thats a different story)

[2020-11-06 11:01] xvitaly commented on #416
Bad advice. I will just apply my workaround #457 in downstream and rebuild Fedora package.

[2020-11-06 11:27] xvitaly commented on #416
This issue should be fixed in ksnip-1.7.3-2: [F32](https://bodhi.fedoraproject.org/updates/FEDORA-2020-e198751c32), [F33](https://bodhi.fedoraproject.org/updates/FEDORA-2020-b0826adc0c).

Please test these build.

[2020-11-06 12:03] Frankstar commented on #416
works on f33! no errors / problems

[2020-11-07 00:00] RoelVdP opened #460 "Window captures include non-transparent border of background on Gnome"
Windows captures include an annoying, non-uniform and non-transparent border of background contents:

![image](https://user-images.githubusercontent.com/2000941/98425169-3d6d3200-20e8-11eb-9c63-fbf47cc55b32.png)
(Example screenshot showing ~2 pixel border on top, 10-15 pixel border on right, left, bottom. Capture was done using keyboard shortcut for "Capture active window")

Window captures should

[2020-11-07 00:01] RoelVdP commented on #460
Is there any way to fix this via a workaround please?

[2020-11-07 00:07] RoelVdP commented on #460
In comparison, here is how Ubuntu captures Windows by default:

![image](https://user-images.githubusercontent.com/2000941/98425472-54f8ea80-20e9-11eb-8920-9ce9aa1ea994.png)

In other words, it seems the same dimensions, but it automatically sets the border pixels to transparent.

This may be doable by capturing the active window dimensions, or some other programming logic.

[2020-11-08 18:04] #386 closed

[2020-11-08 19:56] DamirPorobic commented on #355
@fnkabit thanks for implementing this feature!

[2020-11-08 19:56] #355 closed

[2020-11-08 19:59] DamirPorobic commented on #386
@fnkabit thanks for implementing this feature :)

[2020-11-08 20:15] DamirPorobic commented on #460
Is this Wayland or X11?

I don't think that there is a workaround. We take this kind of screenshot by asking the DE what the active window is and what the dimensions of the active window are. The DE provides basically Position, Width and Height of the active window. We don't know what part of those belongs to the window and what is just shadow for example. Then we take a screenshot of that provide

[2020-11-08 20:39] fnkabit commented on #386
Thanks for the review !

[2020-11-08 20:40] fnkabit commented on #355
Thanks Damir !

[2020-11-08 22:14] DamirPorobic commented on #416
Issue reported upstream https://bugreports.qt.io/browse/QTBUG-88293

While testing my minimum example application I've noticed that copying to clipboard works for text but not for images.

[2020-11-09 08:53] xvitaly commented on #416
ksnip-1.7.3-2 has been pushed to stable. This issue can be closed, I think.

[2020-11-09 15:55] DamirPorobic commented on #416
I've left it open until I have updated the readme file, which I have done now. Closing ticket.

[2020-11-09 15:55] #416 closed

[2020-11-09 15:57] DamirPorobic commented on #424
I have added an entry to the readme file on how to implement this workaround. In future Plasma releases the portal screenshots should be working again. Nothing to do here for us as the issue is on KDE side.

[2020-11-09 15:57] #424 closed

[2020-11-09 16:27] DamirPorobic commented on #352
Done, you should see now an icon that follows the mono pattern.

[2020-11-09 16:27] #352 closed

[2020-11-10 08:07] DamirPorobic opened #465 "Pin window shows default cursor when mouse over it"
Expected here would be a changed cursor that indicates that the window can be moved. I have noticed this issue under Windows, probably affects all OS.

[2020-11-10 13:07] fabianski7 commented on #352
![54](https://user-images.githubusercontent.com/47755037/98677888-9ab9eb00-2355-11eb-82f6-2315420af646.png)
😍

[2020-11-10 17:24] mendy12 commented on #460
Ubuntu Mate 20.04-1
Hi was playing around and it seems it might not always be caused by shadows. I disabled and it still shows up.
Seem to remember reading somewhere shadows were around 11px.
Avidemux and Untitled show the border but Pluma Preferences looks fine even though on screen it had shadow. Took Untitled.jpg and cropped as in Untitled Cropped Method.jpg. (BTW it was easier for me to just d

[2020-11-10 22:22] DamirPorobic commented on #197
There you go, you can enable this feature here
![image](https://user-images.githubusercontent.com/12796236/98740547-84d71500-23ab-11eb-8e65-442ec3b61a0b.png)

By default it's disabled.

[2020-11-11 07:25] DamirPorobic opened #462 "ssl files not packaged for Window"
After downloading latest ksnip Window Version I've noticed that the ssl files required for imgur upload are missing. As it looks like the CI is unable to open the package, maybe nothing was downloaded:

[code]

[2020-11-12 19:37] #465 closed

[2020-11-13 09:12] RafaelLinux opened #466 "Area selection shifted"
Version: AppImage 1.8.0-continous and previous
Operating System: openSUSE Leap 15.2
KDE Plasma Version: 5.20.2
KDE Frameworks Version: 5.75.0
Qt Version: 5.15.1
Kernel Version: 5.3.18-lp152.47-default
OS Type: 64-bit
Monitors: Two monitors. Left one is rotated 90º and right one is main monitor.

Every time I try to capture and KSnip shows the selection area, all desktop content is shifted horizont

[2020-11-13 09:17] DamirPorobic commented on #466
Is this a new issue? Can you try with `1.7.2` version?

Do you have screen scaling enabled?

[2020-11-13 09:29] RafaelLinux commented on #466
Same issue

No

I was thinking it was a Plasma issue, but Spectacle works fine

[2020-11-13 09:47] RafaelLinux commented on #466
I'm sorry, I must correct my sentence:

YES, I'm trying without scaling just now. Anyway, remember Spectacle works fine

[2020-11-13 09:49] DamirPorobic commented on #466
Could be that you're facing this issue? https://github.com/ksnip/ksnip/issues/276

[2020-11-13 10:47] RafaelLinux commented on #466
As you surely was thinking, issue appears when screen is "reescaled" thru "Monitor configuration". Unfortunately, change reescaling requires restart desktop, so please, take a look to fix it to avoid this annoying workaround to take screenshots with KSnip when user have reescaled monitor (thru software).

Thank you

[2020-11-13 10:51] DamirPorobic commented on #466
My current issue is that I don't have a monitor except my notebook and with that setup I can't reproduce the issue in order to fix it. The issue is definitely in my pipeline.

I'm closing this one as it's a duplicate.

[2020-11-13 10:51] #466 closed

[2020-11-13 11:00] RafaelLinux commented on #466
Not exactly. It's clear is scaling related. I only had 105% scaled and coriously, only horizontal shift was the issue.

[2020-11-13 11:15] DamirPorobic commented on #466
It's not impotent what the scaling was as long as there is scaling. If I remember correctly Qt reported the wrong position for the mouse cursor.

[2020-11-13 11:29] pascal-niklaus opened #467 "ksnip "forgets" tool after e.g. drawing a line"
I just upgraded ksnip to 1.8.0 from GitHub and compiled from source.

Now the tool I select is not "permanent". For example, after typing "P" for the pen tool and drawing a line, I am back to the selection tool. This is inconvenient when drawing several items (e.g. handwriting).

I am not sure whether this is a "feature". If it is, then I'd appreciate an option to disable it.

[2020-11-13 11:42] DamirPorobic commented on #467
It's actually a feature that was implemented yesterday, I find it more convenient as I always (or often) adjust the tool that I have drawn. I thought already that some users might not like it.

@fnkabit what do you think, should we make it a config option so that users can decide if they want this or the previous behavior.

[2020-11-13 21:20] RoelVdP commented on #460
Thank you

Fromn `inxi -G`:
[code]

How about having a look at the default capture source code for Ubuntu and matching the capture approach?

[2020-11-14 07:50] DamirPorobic commented on #460
Gnome is the DE, it doesn't have to relay on X11, it probably knows the stuff itself. I known for example that Spectacle under KDE Plasma doesn't Speak directly to X11 or Wayland but rather to the kWin Desktop Manager and it provides all the stuff required for the screenshots, even the screenshots itself. We can't do that.

[2020-11-14 12:29] #409 closed

[2020-11-14 12:48] DamirPorobic commented on #409
This is now implemented in latest 1.8.0. The Features is by default disabled and can be enabled via settings (ImageGrabber)

[2020-11-15 09:18] pascal-niklaus opened #469 "Shortcuts and slim UI"
I use ksnip for teaching, and it works really well ! Basically, I annotate screenshots using a graphics tablet, and with the tabs I always am able to refer back to previous content. Tool selection by keystroke also works great since I can easily switch between tools without using menus or the mouse.

What I wished, however, is that I could **assign shortcuts to the main colors** that I use. Now I

[2020-11-15 22:22] DamirPorobic commented on #197
This is now implemented with a switch to change from one behavior to the other while drawing the selection rectangle.

[2020-11-15 22:22] #197 closed

[2020-11-16 00:19] maccacino opened #471 "pre-defined hotkeys only work some of the time"
system: Ubuntu 20.04, ksnip 1.7.2

I have hotkeys defined as below. If I open ksnip, they work correcly. However for a second screenshot, or after suspend or moving to other open applications, they do not. To gain control again, I need to open the ksnip editor window via menu icons, then resume what I wanted to screenshot, where using the hotkeys now works again.

![image](https://user-images.gith

[2020-11-16 08:23] DamirPorobic commented on #471
You sure that there are no other applications with that hotkey combination? Have you tried changing it to something different, maybe try out few different combinations just to minimized the chance of colliding with other applications.

[2020-11-16 08:26] MurzNN opened #472 "Keep magnify tool in resize capture area mode and do not cover captured area"
At now when we press CTRL to enable resize capture area mode, impemented in #197, the magnify tool is disappearing. Will be good to keep them, for exact tuning of captured area edges.

Also resize area widget now shows the red circles, that cover captured area at edges, and captured pixels on edges becomes invisible. Will be good to cut-out inside area of the circles to show the whole captured are

[2020-11-16 08:30] MurzNN opened #473 "Existing mouse cursor in captured image prevent image from cropping"
When we have capture with mouse cursor, and try to crop it, cursor was stay in image and extend the cropping area, even when we save image. And even if we delete it manually afterwards, the saved image will still have more area, than cropped.

[2020-11-16 08:33] DamirPorobic commented on #472
When does the magnifying tool disappear? I can't reproduce that on my side, the magnifying glass is always there.

Regarding the circles, it looks strange when the circles are cut out, that was the first version. How about hiding the circles while resizing (when you click on one circle)?

[2020-11-16 08:39] MurzNN commented on #472
magnifying glass is disappearing for me after I un-press mouse button (after holding CTRL) and widget to resize are is shown (with red border and circles).
P. S. How can I make a screenshot of screenshot making interface? :)

[2020-11-16 08:45] MurzNN commented on #472
About circles - maybe replace them via lines outside of area (half of crosschairs), something like typography crop marks?
![image](https://user-images.githubusercontent.com/336662/99231075-2b367680-2801-11eb-8a82-857dd96b301c.png)

[2020-11-16 09:40] maccacino commented on #471
You may be correct there. Ubuntu has Ctrl+Print as default print screen capture. Disabled that in settings and now ksnip rect capture appears to be pretty stable. Will monitor for any strange happenings.
Thanks!
Awesome fast feedback too.

[2020-11-16 09:40] #471 closed

[2020-11-16 13:30] data-man opened #474 "Copy a screenshot to clipboard as data URI"
Info: [rfc2397](https://tools.ietf.org/html/rfc2397). The Wikipedia's [article](https://en.wikipedia.org/wiki/Data_URI_scheme).

Examples:
`data:image/gif;base64,...`
`data:image/png;base64,...`
Maybe other image formats?

Of course, it can be implemented as a custom uploader, but a built-in feature is preferable. :)

[2020-11-16 20:25] DamirPorobic commented on #472
Now I get you. The Magnifying glass is not missing, it just was not added in the resizer. We can handle this as a new feature request.

What would be the handle with those cropmarks? Also, it kind of is a standard to have a circle or rect as handle, people are used to it. For now I will just make them hidden when you grab one. For more advanced stuff please log a separate issue.

[2020-11-16 20:27] DamirPorobic commented on #471
Awesome, glad that it works :)

[2020-11-16 20:31] DamirPorobic commented on #474
Interesting. I think the format should be a config option and this "copy to clipboard" should be separate entry in the file menu. From the first look it doesn't looks complicated to implement it, or I don't understand it fully :)

It's to late for `1.8.0` but we might target this for `1.9.0`.

[2020-11-16 20:45] data-man commented on #474
No problems. I always compile ksnip myself from the repository. :)

[2020-11-16 21:10] MurzNN commented on #472
The problem with circles is that they hide the part of corners in snipping area, but they are important for exact fit the area to needed rectangle, for example - to see rounded corners with radius 3-5 pixel.
Will be good to see something like this:
![image](https://user-images.githubusercontent.com/336662/99308612-450ba400-2869-11eb-90b2-af1f6a4b344c.png)

[2020-11-16 21:34] DamirPorobic opened #475 "Cancel snipping area if no selection made after 60 sec"
If not selection was made after 60sec we can assume that something went wrong or the user is not longer there. Because the snipping area is an overlay widget covering everything else, we should hide it in such cases, returning control to the user.

[2020-11-16 21:45] DamirPorobic commented on #472
There you go, implemented exactly that behavior.

[2020-11-16 21:45] DamirPorobic commented on #475
Done.

[2020-11-16 21:45] #475 closed

[2020-11-17 07:35] pascal-niklaus opened #477 "show/hide toolbars with TAB"
-- please delete --

[2020-11-17 07:38] pascal-niklaus opened #476 "Show/hide toolbar and annotation settings with TAB"
It would be nice if one could hide/show the tool bars (left and top) and also the menu bar, for example by hitting "TAB". It is so easy to use the application with just keystrokes, and this would make for a "cleaner" appearance, for example when used while teaching. "TAB" also seems sensible given that other applications (e.g. gimp, darktable) use this key for the same purpose.

I guess this could

[2020-11-17 07:39] DamirPorobic commented on #477
I can move it :)

[2020-11-17 14:37] deciacco opened #478 "1.8 QIODevice QLocalSocket device not open UnconnectedState"
Hi...

I downloaded the continuous build version AppImage because I wanted to use the new Border feature. I realize this is the development version, but I'm getting the below when I try to run it (after marking it executable of course). I'm wondering if I missing something on my system to run the 1.8 version.

[code]

System:
**Kernel:** 5.4.0-53-generic x86_64
**Desktop**: Xfce 4.14.2
**Distro**:

[2020-11-17 15:18] DamirPorobic commented on #478
hmm, strange, first time I see this error. Does ksnip start? Can you try disabling single instance in settings?

[2020-11-17 15:22] deciacco commented on #478
It is strange... and unfortunately it does not start at all... when I try to run it, i simply get those two lines and that's it, so I can't even change settings.

[2020-11-17 15:31] deciacco commented on #478
I'm so, so sorry... but I think I figured out the issue, and you are correct. It has to do with the single instance. Somehow I had the 1.7.3 version running in the background and when the 1.8 version was trying to load it didn't want to. I, however, still get this, but I"m guessing that has to do with the development version. Again, so sorry about this. Maybe it will help others avoid this.

[code

[2020-11-17 15:39] #478 closed

[2020-11-17 15:42] DamirPorobic commented on #478
hehe no worries, you would laugh if you knew how often I run into that same issue and I wrote that damn thing :D

[2020-11-17 16:30] #477 closed

[2020-11-17 18:47] oliversturm opened #479 "ksnip -e destroys annotated image on save"
I'm not entirely sure what the cause of this issue is, so I'll write down exactly what I'm doing.

I'm trying to use ksnip as an annotation tool on my wayland machine. I'm taking the original screenshot with [grim](https://github.com/emersion/grim). Here's one I took just now:

![image](https://user-images.githubusercontent.com/4730969/99421918-d07f4680-28f6-11eb-94fd-646249c796f7.png)

Now I call

[2020-11-17 19:05] oliversturm commented on #479
And now... I found a workaround. The problem is Wayland. Or rather, the problem is that something goes strangely wrong if I run ksnip in my environment, while allowing Qt to auto-adapt as it does at this time. I had this weird thought in my mind, that the factor of 2 by which the images are mistreated sounded familiar - from one point only: it's the scale factor I'm using for my 4k screens.

So I

[2020-11-17 19:05] #479 closed

[2020-11-17 21:18] DamirPorobic commented on #479
hmm, could it be that you're faxing this issue that should be fixed in latest? https://github.com/ksnip/ksnip/issues/439

[2020-11-17 22:39] DamirPorobic commented on #366
Implemented by @fnkabit

[2020-11-17 22:39] #366 closed

[2020-11-18 08:52] oliversturm commented on #479
@DamirPorobic Yes and no, I guess. I suspect that my issue is related to running on a scaled Wayland. The corner of the image that is being persisted is most definitely the top left one though, every time. Odd discrepancy between my issue and #439, but there it is. Of course my workflow also includes using `-e` instead of taking a screenshot directly, but that's probably not an important differenc

[2020-11-18 09:14] oliversturm commented on #479
@DamirPorobic  My apologies - I didn't mean to ignore your suggestion that v1.8.0 might fix the problem. I just installed that version using the ksnip-git AUR package. Mixed news:

* Good news: the test I ran before now seems to work - I can edit an image, and it it saved completely, i.e. not just the top-left corner. When I check the result image visually, it looks correct.
* Bad news: something

[2020-11-20 03:55] KublaiKhan64 opened #481 "Not able to use hotkeys on Debian using Gnome"
Sorry if this has already been hashed out but the enable hotkeys option is greyed out and I can't figure out why. Is there any prerequisite to being able to enable this? I know it works in ubuntu so I'd assume its also possible in Debian.

[2020-11-20 06:28] DamirPorobic commented on #481
Hello, have you tried hovering with the mouse cursor over the enabled checkbox? There should be a tooltip that says that Global Hotkeys are not supported for MacOS and Wayland. I believe you are running the later.

I'm hoping to implement DBus support with the next release that should come out soon, this might be an alternative to Hotkeys under Wayland.

[2020-11-20 06:47] DamirPorobic commented on #479
Hey Oli, sorry for the late replies, I usually reply within a day. I'm in the middle of a move to a new flat and need to renovate that thing so I don't get to much PC time at the moment :)

If I remember correctly, the user that requested Generic Wayland Portal Screenshots used also Sway and for him (and other Sway Users) I have implemented a Setting that prevents this upscaling that you see, it's

[2020-11-20 09:43] fnkabit opened #482 "Item properties remain displayed after item is removed or deselected"
After removing or deselecting an item, the item properties on the left-side panel should disappear.
They do not disappear and modifying them has no value on the previously selected item.

[2020-11-20 12:56] oliversturm commented on #479
Hi Damir,

Moving must be more stressful than usual at this time, I don't envy you!

I didn't read the entire long issue, I'm afraid. However, I'm confused. First, that issue seems to pertain to the actual "grabbing" functionality, as does the setting you mention. I'm not doing any grabbing, I'm just editing. So is it news to you that the problem is actually just one of file persistence, not relat

[2020-11-22 19:11] cgcgcgcgcg opened #483 "ksnip needs update"
Using ksnip-git in Arch.
~ ❯❯❯ ksnip
Cannot mix incompatible Qt library (5.15.1) with this library (5.15.2)
fish: “ksnip” terminated by signal SIGABRT (Abort)

[2020-11-22 19:24] DamirPorobic commented on #483
We are not packing ksnip for Arch, that is done by @dracorp I believe. Ksnip doesn't ship any Qt libraries with it, only a dependency of Qt but for 5.9.x.

Maybe you have more luck on the official package pages:
https://aur.archlinux.org/packages/ksnip-git/
https://aur.archlinux.org/packages/ksnip/

[2020-11-23 04:45] cgcgcgcgcg commented on #483
Thank you for the reply, I'll ask the maintainers.

[2020-11-23 04:45] #483 closed

[2020-11-23 20:21] fnkabit opened #484 "Resize elements while keeping aspect ratio"
I would like to be able to resize annotation items keeping aspect ratio.
ie. by having CTRL pressed while resizing

[2020-11-23 20:28] fnkabit commented on #484
From the PR:
https://youtu.be/Wb4bxI2qeXI

[2020-11-23 21:44] Lillecarl opened #485 "Unable to specify certain keycombinations. Xorg"
I uploaded a video recorded with OBS while running "screenkey" to show keypresses. Pressing alt+shit doesn't work in any combination while ctrl+shift works, but not while pressing any numbers or such.

[code]
[code]
[code]
[code]
[2020-11-23 22-34-46.zip](https://github.com/ksnip/ksnip/files/5585898/2020-11-23.22-34-46.zip)

[2020-11-23 22:10] Lillecarl commented on #485
Same issue running
https://github.com/ksnip/ksnip/commit/70b5c788c1baaea19b04794dd737a930e06904f1
https://github.com/ksnip/kImageAnnotator/commit/4a343736d6220a9f3dc06ab42a93ff23808a1666
https://github.com/ksnip/kColorPicker/commit/5a3f9507cd179348b99d936695b90905c91c0ded

[2020-11-23 22:17] DamirPorobic commented on #485
This is probably due to those keys being bound to something different on OS or DE level. Global Hotkeys work by saying to X11 that we want to be notified about a specific keys being pressed. When now the OS or DE watch also for the same keys, they will capture the event and X11 won't get notified, neither will we. I would suggest you check for System Hotkeys that use those combinations that you tr

[2020-11-23 23:02] Lillecarl commented on #485
Hi @DamirPorobic I exported all my KDE bindings to a file [keyscheme.txt](https://github.com/ksnip/ksnip/files/5586214/keyscheme.txt) and it doesn't look like i have shift+alt bound anywhere.
Notice in the video that it doesn't recognise shift and alt as modifiers together.
I went through the code and did some std::cout debugging :rofl:
[code]
mModifiers doesn't change when i press shift+alt, and

[2020-11-23 23:02] #485 closed

[2020-11-23 23:09] Lillecarl commented on #485
Sometimes the obvious is too obvious to notice... I've bound shift+alt to switch input languages. And apparently that overrides using those modifiers for anything else. (I've been using shift+alt to change language on Windows too, and there the keybindings still works, technically this could be considered a KDE bug/feature i guess)

[2020-11-23 23:16] DamirPorobic commented on #485
I think Windows and X11 handle it differently, it looks like with X11 the OS passes only stuff that it doesn't care about to other application and if it cares about, like in your case, it marks the event as handled and no one else gets notified. I had those issues often reported by users and it always comes done to already used bindings under X11. Glad you found the culprit ;)

[2020-11-24 11:31] Rmano opened #486 "Cut away a vertical/horizontal slice of an image (feature request)"
One of the editing actions I miss more is something that I really do not know how to do rapidly, and it will be very useful, is "zapping away" a vertical or horizontal slice of the image.

For example, in the following image, I'd like to delete the marked part and then paste the two sides together, maybe leaving a line (or a zig-zag "broken thing" to be fancy) in the middle:

![image](https://user

[2020-11-25 21:51] DamirPorobic commented on #486
Interesting feature. I think the tig-zag thingy might be the better choice to insert there, otherwise you could ask yourself where this image is coming from.

[2020-11-26 00:43] pkoerner81929 opened #488 "Add "New from clipboard" option"
I often see images e.g. embedded in webpages, that I would like to annotate without capturing it. Copying the image to the clipboard and then do a "New from clipboard" would be a helpful option.
(Used in Shutter before).

[2020-11-26 00:49] pkoerner81929 commented on #488
Simple ctrl-v will create a new capture window. That should do the job.

[2020-11-26 00:49] #488 closed

[2020-11-26 07:21] DamirPorobic commented on #488
Exactly, you can also drag and drop images files into ksnip. I'm not sure if that works with embedded images, haven't tested it, but with files it should work.

[2020-11-26 08:50] Rmano commented on #486
Yes, the zig-zag would be great --- I do not know how difficult it could be.

This kind of feature is one that I wished to have but I haven't seen anywhere --- doing it with gimp is a bit time-consuming.

Thanks for the interest!

[2020-11-26 11:00] pkoerner81929 opened #489 "Add option to move/resize selection rectangle before capturing"
For me, a very useful feature of Shutter was to allow moving and resizing of a selection rectangle before actually capturing. This helps to adjust the selction if e.g. starting corner was not exactly at the desired location. Hitting ENTER finally captures the screen selection.

![ksnip](https://user-images.githubusercontent.com/17785334/100342916-f388b500-2fde-11eb-8533-315d8bf504ff.gif)

[2020-11-26 20:46] DamirPorobic commented on #489
Have you checked ksnip continuous build? Version 1.8.0 supports that already, you can define if you want this behavior by default or want to hold CTRL while selecting an area in order to be able to resize again.

[2020-11-29 15:35] CocoThePimp opened #490 "How to run ksnip at start ?"
Hi,

I'm searching for "ksnip" in the folder usr/lib cause I want to run it when my ubuntu's session start.

Where is the folder ?

Ubuntu 20.04LTS

[2020-12-01 13:14] pkoerner81929 commented on #489
SOLVED: Wonderful! Thanks for that!

[2020-12-01 13:33] pkoerner81929 opened #491 "Adding colored SVG stamps end up b/w"
V1.8. Adding colored/transparent svg end up in black/white stamps.

Original file:
![grafik](https://user-images.githubusercontent.com/17785334/100747208-0b4aa980-33e2-11eb-80a5-2979d3f71da0.png)

View at ksnip:
![grafik](https://user-images.githubusercontent.com/17785334/100747233-11408a80-33e2-11eb-8c0d-1358c8016cab.png)

[2020-12-03 02:54] zyf0330 commented on #167
I want to capture then copy to clipboard and not open editor, and it is better to keep ksnip running in background when do this to make it quicker to capture. Cold boot when run `ksnip -sr` is slow.

[2020-12-03 06:05] zyf0330 commented on #490
You can open Autostart and add ksnip settings as Run on startup

[2020-12-03 06:13] zyf0330 opened #492 "Feature Request: when capture using rectarea mode, support mouse right click to abort capture"

[2020-12-03 07:33] DamirPorobic commented on #492
Why mouse right click? Do you have this behavior somewhere else?
You can abort a capture with `ESC`.

[2020-12-03 07:34] DamirPorobic commented on #491
Interesting issue, is it with this specific SVG or have you seen ti with others too?

[2020-12-03 07:34] #489 closed

[2020-12-03 07:37] DamirPorobic commented on #490
I think that depends on the OS and DE you are using. I'm not using Ubuntu but you could try this https://askubuntu.com/questions/48321/how-do-i-start-applications-automatically-on-login

[2020-12-03 07:43] DamirPorobic commented on #167
@zyf0330 have you tried latest version `1.8.0`? In the settings there is now an options that keeps ksnip hidden after a screenshot when ksnip was hidden before.

[2020-12-03 08:30] pkoerner81929 commented on #491
It used to work fine with version 1.7.3. Same file(s), color is visible as expected.

![Auswahl_02916](https://user-images.githubusercontent.com/17785334/100983802-1f111f80-354a-11eb-9212-6976fe6c8823.png)

[2020-12-03 10:33] zyf0330 commented on #492
Because I capture by moving mouse, so I want to cancel by mouse right-click
too.

Damir Porobic <notifications@github.com> 于2020年12月3日周四 下午3:33写道：

[2020-12-03 11:19] antrrax opened #493 "Brazilian Portuguese translation not loaded"
Brazilian Portuguese translation is not being used.

It is also not up to date

[2020-12-03 14:30] DamirPorobic commented on #491
Can you attach the svg to the ticket for us to test? It's interesting that it was working before, can't think of any change in this component in latest release.

[2020-12-03 14:51] DamirPorobic commented on #493
What do you mean with not being used? It was used before and not it's not anymore?

[2020-12-03 15:28] pkoerner81929 commented on #491
Sure, it's the file above, first image.

[2020-12-03 15:31] DamirPorobic commented on #491
:) thought about that one too but github saves images as png I guess:
![image](https://user-images.githubusercontent.com/12796236/101050688-eb072000-3584-11eb-8c79-a8464ad4adeb.png)

Maybe zipping it?

[2020-12-03 15:35] pkoerner81929 commented on #491
Oh, I see. https://partner-ccc.de/index.php/s/BRPjJfX6jQf2EQq

[2020-12-03 15:41] DamirPorobic commented on #491
Thanks!

[2020-12-03 16:11] antrrax commented on #493
Before there was only the Portuguese translation of Portugal. And it has always been used.

Now there is the Portuguese translation of Brazil but the Portuguese translation of Portugal is still used.

The portuguese archive of brazil is 100% translated with only 243 texts. The portuguese archive of portugal has 291 texts. Soon I conclude that the pt-br is out of date.

The same happens in KImageAn

[2020-12-04 02:58] zyf0330 commented on #167
@DamirPorobic It is what my expected. So good!

[2020-12-08 03:19] maccacino commented on #490
For Ubuntu 20.04 and using snap, ksnip can be found at `\snap\bin\ksnip`.
This will allow you to add to startup as per @DamirPorobic's response.

Else, type `which ksnip` into any shell and you'll get the running directory to load ksnip from.

[2020-12-09 17:42] deciacco opened #495 "Tray icon changes from ksnip logo to generic info icon on save"
**Problem:**

Tray icon changes from ksnip logo to generic info icon on save

Before:
![image](https://user-images.githubusercontent.com/36453844/101665899-2d13e400-3a13-11eb-9053-98612b3a53f6.png)

After:
![image](https://user-images.githubusercontent.com/36453844/101665915-31400180-3a13-11eb-8e86-227b8d8529d9.png)

**Notes:**

- To reproduce the issue, capture an image then click Save in the edi

[2020-12-09 21:57] DamirPorobic commented on #495
Looks like a Qt/Xfce issue. We need to report that upstream, though such issues take a while till they're fixed.

[2020-12-09 22:45] deciacco commented on #495
For what it's worth... I tested it with the dnf package version on my recent install of Fedora 33 and the same thing happens there.

[2020-12-10 03:47] eytb2 opened #496 "Can provide option to not open the editor and only save it to the clipboard automatically when the screenshot is completed?"

[2020-12-10 07:11] DamirPorobic commented on #496
This should be supported already, check the ImageGrabber settings, there should be one option that keeps ksnip hidden after screenshot when ksnip was hidden before the screenshot. Thi features was introduced with version 1.8.0 so you have to use continuous build to get it.

Also, for general questions like this, you can use the discussion board https://github.com/ksnip/ksnip/discussions

[2020-12-10 07:12] DamirPorobic commented on #495
On Fedora you use also Xfce or Gnome?

[2020-12-10 16:34] deciacco commented on #495
Gnome.

[2020-12-11 21:13] deciacco commented on #495
OK... so the icon works correctly on the **Notification Area** plugin for XFCE, but shows the above behavior in the **Status Notifier Plugin**. I removed the **Status Notifier Plugin** and the icon seems to work correctly. Not sure if you want to close this bug as it is still correct, but users just need to make sure they are using the **Notification Area** plugin in XFCE -- I believe this is the

[2020-12-11 21:17] DamirPorobic commented on #495
Maybe add an entry to the Wiki or readme. I don't think that we would get that fixed soon, especially if it's something on qt site, those bugs take like forever, actually, I never saw one of my bugs getting fixed and I work on ksnip since 2016 with qt...

[2020-12-11 21:18] DamirPorobic commented on #495
Though when I think about it, your finding indicates that it might be related to **Status Notifier Plugin**, maybe we should ping the developers.

[2020-12-11 21:19] DamirPorobic commented on #495
Might be a dead end:
![image](https://user-images.githubusercontent.com/12796236/101955897-f13d7200-3bfe-11eb-958e-ce3afe142abf.png)

[2020-12-11 22:40] deciacco commented on #495
There is our answer! Thanks for all your hard work!

[2020-12-11 22:40] #495 closed

[2020-12-12 13:09] noraj opened #499 "libkImageAnnotator 0.4.x compatibility"
[code]

https://aur.archlinux.org/packages/ksnip/

![image](https://user-images.githubusercontent.com/16578570/101984715-7cf8e200-3c83-11eb-82bc-3f08339d688d.png)

Can you update libkImageAnnotator dependency requirement to accept v0.4.0 too in addition to 0.3.x ?

Related issue: https://github.com/ksnip/ksnip/issues/333

[2020-12-13 13:56] DamirPorobic commented on #499
ksnip always supports latest `kImageAnnotator` version, which is `0.4.0` currently. Like in the issue that you have referenced, this is probably an issue with the arch repo or your local installtion, you might have mixed versione. Try to uninstall ksnip and kiamgeannotator and install it again or try different binary version, AppImage, Snap or Flatpak might be easier to configure.

[2020-12-13 14:03] noraj commented on #499
I have only 0.4.0 installed.

[code]

The PKGBUID is here https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ksnip

Saying

[code]

I uninstalled an reinstalled ksnip (1.7.3) but it is still looking for kimageannotator 0.3.2

[2020-12-13 14:04] noraj commented on #499
I'll try a complete rebuild `pikaur -Syu ksnip --rebuild`.

[2020-12-13 14:06] #499 closed

[2020-12-13 17:54] DamirPorobic commented on #493
Should be fixed now, the translation was missing in the cmakefile so it was not installed.

[2020-12-13 17:54] #493 closed

[2020-12-13 17:57] DamirPorobic commented on #462
Looks like this has fixed itself.

[2020-12-13 17:57] #462 closed

[2020-12-13 20:20] antrrax opened #501 "Incomplete Brazilian Portuguese translation in both ksnip and kimage annotator"
Incomplete Brazilian Portuguese translation in both ksnip and kimage annotator

incomplete Brazilian Portuguese translation in both ksnip and kImageAnnotator

see the example below comparing on the weblate site, the German translation has 291 texts and the Brazilian translation only 243
<a href="https://ibb.co/vH4z0mj"><img src="https://i.ibb.co/SPwvF03/ksnip-20201213-171556.png" alt="ksnip-202012

[2020-12-13 21:44] erenseymen opened #502 "Add option to select the default action for tray icon left click"
For example, in Flameshot, the default action for tray icon left click is selecting rectangular area, which is quite convenient. Other people may want to select full screen or other actions as default action as well.

P.S.: Thanks for ksnip and the new features in v1.8.

[2020-12-13 22:00] erenseymen opened #503 "If file selection is cancelled during ksnip's file open dialog via tray icon, ksnip closes."
Steps:
1) Right click on tray icon
2) Select "Open"
-- File selection window appears.
3) Click on "Cancel" button in file selection window or close the file selection window
-- ksnip crashes. **FAIL**

Note: I ran ksnip from terminal and there were no logs about the issue.
Note: If I use File>Open menu in the main window, there is no issue.

ksnip Version: 1.8.0 (Build: 1578-d84ec1a)
OS: Xubuntu 2

[2020-12-14 05:12] fnkabit commented on #503
Issue only happens when the main window is hidden.
Working on a fix.

[2020-12-14 21:22] DamirPorobic commented on #503
I can't reproduce this issue on my side, running OpenSUSE with KDE Plasma. Might be effecting only specific Distros.

[2020-12-14 21:24] #503 closed

[2020-12-14 21:26] DamirPorobic commented on #503
PR merged, should be fixed now in continuous build.

[2020-12-14 21:28] DamirPorobic commented on #502
I like the idea of configurable default action for tray icon left click.

[2020-12-14 21:29] DamirPorobic commented on #496
Closing this issue as this feature is already supported.

[2020-12-14 21:29] #496 closed

[2020-12-14 21:31] DamirPorobic commented on #481
DBus support didn't make it into 1.8.0 but you might keep an eye on the related issue. I'm closing this one as your behavior comes probably from Wayland.

[2020-12-14 21:31] #481 closed

[2020-12-15 07:55] fnkabit commented on #503
I'm also running OpenSuse 15.2 KDE. For me, the issue occurs when the MainWindow is closed to system tray and you trigger the open action from system tray.

[2020-12-15 07:57] DamirPorobic commented on #503
Strange, tried exactly that and it stayed open. I'm using the exact same OS version like you.

Now you don't get the issue anymore with master?

[2020-12-15 08:04] fnkabit commented on #503
I didn't get to test with the merged master branch (and I'm away from the
keyboard for the next few hours), but I tested both PRs and it worked fine
with the fix.

On Tue, Dec 15, 2020, 09:58 Damir Porobić <notifications@github.com> wrote:

[2020-12-15 12:50] kendoori opened #507 "Can you turn off Drop Shadow on Text?"
I would prefer to not have text default to drop shadow. Is there a way to do that?

Also, is there a way to set default preferences on tools? For example, I would like for text to default to a color and not have a border.

[2020-12-15 18:00] kendoori opened #508 "Editor Intermittently Doesn't Launch from Tray"
Am running Ksnip 1.8 on Mint 20 Cinnamon. On first launch the editor launches, but will intermittently not appear in subsequent interactions during a session. See the behavior here:

https://youtu.be/nZSGv8KPi9I

[2020-12-15 18:29] DamirPorobic commented on #508
Sounds like this issue https://github.com/ksnip/ksnip/issues/400?

[2020-12-15 18:33] DamirPorobic commented on #400
@kendoori has provided a video showing the issue https://youtu.be/nZSGv8KPi9I

Can someone try out few things:
1. Does this issue happen when you hit the close button or does it also happen when you minimize?
2. Does it happen with and without single-instance enabled?

[2020-12-15 19:35] kendoori commented on #400
For me, I can reliably get it to happen upon close. Minimize works properly.

[2020-12-15 19:58] DamirPorobic commented on #400
What about the single-sinatnce? It can be disabled in settings under `Settings > Application > Run ksnip as single instance`. Changing the single instance setting requires ksnip restart.

[2020-12-15 20:05] DamirPorobic commented on #508
Closing this one as it seems to be a duplicate.

[2020-12-15 20:05] #508 closed

[2020-12-15 20:23] kendoori commented on #400
For me, by default it was set to single instance. So the behavior I captured, was with single instance on. I tried to deselecting and restarting, which led to the same behavior. I then close, and reselect single instance, then restarted again. Close still produces the same behavior no matter what combination I have configured.

[2020-12-16 07:18] DamirPorobic commented on #342
Does this issue still happen for you?

[2020-12-16 08:35] ssbarnea opened #509 "Add AWS D3 uploader support"
I would be more than happy to switch to a full opensource screenshot tool but I do rely a lot on using AWS S3 uploader. For the moment I will continue using Drophshare but I will be happy to switch to ksnip.

[2020-12-16 08:37] DamirPorobic commented on #509
Can this `AWS S3 uploader` be triggered via Script? Ksnip supports adding custom scripts for uploading and in this script you can do what ever you want.

[2020-12-16 08:40] ssbarnea commented on #509
Yes, CLI would work. Lets keep this open as one way or another we need to document it, even if we do not need to create a new uploader.

BTW, That reply was quick! :D

[2020-12-16 08:43] ssbarnea opened #510 "MacOS cask is unsigned (security)"
Installing unsigned casks is really a problem as the app needs signing and I am not willing to disable system protections to trial it.

Homebrew recipes are compiled locally so they do not need signing because they are signed using local certificate but casks are precompiled and must be signed, for security purposes.

In an ideal world we should provide both, as both have their own benefits. Still

[2020-12-16 08:52] DamirPorobic commented on #510
This is a duplicate of #402
Problem is that Apple is not really supporting the OpenSource community. You need to have an Apple Developer account, which needs to be paid for annually and probably a MacOS to sign it (the last part I'm not sure about). I don't have any of them and our donations currently might be able to pay for that account but on the other hand, come mostly from Linux users and I t

[2020-12-16 09:01] #510 closed

[2020-12-16 09:10] ssbarnea commented on #402
Buildings is not really an issue as we can make use of github-actions to do it. The issue is around costs involved in maintaining a developer certificate, which for small projects an be more than the total amount of donations they receive.

I wonder if there is an open-source organization that could provide a free signing service for open source projects, so they do not have to hassle with that. I

[2020-12-16 09:39] DamirPorobic commented on #402
You are right, automatic build must be somehow an option even with signed packages. We currently build all our packages on TravisCI, the MacOS package too so we could add it there.

I'm not sure about that organization, I haven't heard about any but it would have to check all the supported projects for any malware and other non complying code, otherwise it would lead to Apple canceling the Account

[2020-12-16 12:14] hprmedina commented on #342
Hi..  All works fine now, I tested all posible combinations and all are good. The bug is fixed.

Version: 1.8.1-continuous
Build: 1594-153cfb5

Using:
Qt5
X11
KDE Wayland
Gnome Wayland

[2020-12-16 12:23] DamirPorobic commented on #342
Nice, thanks for testing.

[2020-12-16 12:23] #342 closed

[2020-12-16 12:55] DamirPorobic commented on #402
I've got feedback on the [Qt Forum](https://forum.qt.io/topic/121822/how-to-sign-qt-application-for-macos), looks like we just need the Apple Developer Account and macdeployqt which we already use. I'll give it a try in next couple of days and might ping you guys for testing.

[2020-12-16 13:57] DamirPorobic commented on #402
Got the Apple Developer Account, look now into signing the package...

[2020-12-16 20:51] specialworld83 opened #512 "Setup windows"
I created the script for installation on Windows. Here is the inno-setup code

![ksnip_20201216-214735](https://user-images.githubusercontent.com/9156314/102404677-5242bc80-3fe8-11eb-9e2d-3a0a0b82c107.png)
![ksnip_20201216-214813](https://user-images.githubusercontent.com/9156314/102404753-67b7e680-3fe8-11eb-8084-c1ce00a3db69.png)
![ksnip_20201216-214923](https://user-images.githubusercontent.com/

[2020-12-17 10:35] c33s opened #513 "fyi: your nightly release triggers the "notify on release" message"
just for your information, the way you release your nightly builds triggers the "notify on release" message which leads to an email. sadly github does not allow to `watch > custom > on stable release` but only `watch > custom > on release`, so if you keep the way you release the nightly builds it leads to a lot of noise in the email inbox.

[2020-12-17 10:42] DamirPorobic commented on #513
We don't have nightly builds but rather continuous build that creates a release anytime new code is committed.
Not sure what your expectation is here? Most of the early access folks are interested in the continuous build releases for testing, disabling notifications would cut them of.

[2020-12-17 10:43] DamirPorobic commented on #512
When I click on the link I only get the exe. Whats this script doing?

[2020-12-17 10:51] specialworld83 commented on #512
Then I make available the inno setup code where there is all the installer configuration. The installer does nothing but copy your files to the program files folder, create the icon on the desktop and in the menu.

[2020-12-17 10:55] DamirPorobic commented on #512
Something like that would be nice, we have an issue for that already https://github.com/ksnip/ksnip/issues/155

If we had such script it would have to be run by the CI, so we need it to integration in our build process.

[2020-12-17 11:43] fnkabit commented on #502
@DamirPorobic If I understand this properly, instead of the 'Show Editor' action, the action performed when left-clicking would be configurable to 'Rectangular Area', 'Last Rectangular Area', etc.
Is this correct ?

[2020-12-17 11:47] fnkabit commented on #272
@DamirPorobic How many recent documents do you think should be displayed in this drop down menu and what should be the label for the menu entry ? Is 'Open Recent' OK ?

[2020-12-17 11:53] fnkabit commented on #474
@DamirPorobic What formats do we want to select from and what should the default format be ?
I was thinking we can have BMP, JPG/JPEG, PNG and default to JPG. What do you think ?

[2020-12-17 11:58] erenseymen commented on #502
Yes.

[2020-12-17 12:01] DamirPorobic commented on #502
Yes, exactly. I had a drop down menu in mind where you can select what's going to be opened. The tricky part is resolving this in code. Usually you would have an enum for the selection but here the capture options are dynamic, depending on OS and DE.

[2020-12-17 12:06] fnkabit commented on #502
Understood. I would like to start working on this one.

[2020-12-17 12:32] c33s commented on #513
just wanted to inform you. i really don't expect anything. for me a release on commit only means that i can't watch this repo until i make an email filter

[2020-12-17 12:32] #513 closed

[2020-12-17 12:43] DamirPorobic commented on #513
It's indeed news to me that we notify on pre-releases and if we could disable it for pre-releases, I could live with that but I can't see any option to fine tune that, sorry.

[2020-12-17 13:17] DamirPorobic commented on #502
@fnkabit I think I would go for the enum, like DefaultTryIconActions consting of the ShowEditor and all existing CaptureOptions. Then, in the settings, I would filter out all not supported CaptureOptions from this new enum and allow the user only to select those that are supported.

[2020-12-17 13:48] specialworld83 commented on #155
`; Script generated by the Inno Setup Script Wizard.
; SEE THE DOCUMENTATION FOR DETAILS ON CREATING INNO SETUP SCRIPT FILES!

#define MyAppName "Ksnip"
#define MyAppVersion "1.8"
#define MyAppPublisher "DamirPorobic"
#define MyAppURL "https://github.com/ksnip/ksnip"
#define MyAppExeName "ksnip.exe"

[Setup]
; NOTE: The value of AppId uniquely identifies this application. Do not use the same AppId

[2020-12-17 16:42] DamirPorobic commented on #474
@fnkabit There is own tooltip, I think in the save path section that refers to all supported formats. I think for saving images the default was PNG so we might use that as default here too and later on we can have a separate feature for setting the default type, I think we actually have a story for it. For now keep the type static I would say.

[2020-12-17 16:48] DamirPorobic commented on #272
I think last 10 would be sufficient. I think usually it's just "Recent" or "Recent Images" for the top menu and in the sub menu are the names or paths to the images. Whats your plan for storing the information? I've been thinking if we can use this feature to kick of some kind of image history, maybe both could use the same data. With image history I think about some separate dialog where you can

[2020-12-17 19:19] c33s commented on #513
no problem at all, my intention was really only to inform you.

![image](https://user-images.githubusercontent.com/649209/102532605-7fed3b80-40a4-11eb-9e19-1b1f62724691.png)
it should be an option to subscribe only stable releases but github has no option for it.

no reason to be sorry, great you provide cool opensource apps for the people. currently i am still using https://github.com/greenshot/g

[2020-12-17 19:39] DamirPorobic commented on #513
Thanks for letting me know :)

I know about Greenshot, at my last job they had it preinstalled on all notebooks. I have taken some of the feature ideas from there, like the magnifier glass on the rect selection area and other. It's great tool under Windows but as you say, it's not cross platform and ksnip was actually born as a clone of Windows Snipping Tool which I missed when I started using Lin

[2020-12-18 08:31] DamirPorobic opened #515 "Resize selected rect area with arrow keys"
As discussed in https://github.com/ksnip/ksnip/discussions/511 the rect area should be resizeable additionally to mouse also with arrow keys.

While the rect area resize window is visible pressing `CTRL+ArrowKey` should move the top left handle of the selection, pressing `ALT+ArrowKey` should move the bottom right handle. Pressing only the `ArrowKeys` should move the whole selection without changi

[2020-12-18 10:19] c33s commented on #509
for s3 uploads it would be nice to allow to choose which uploader to use. i use the opensource client from minio and also the self hosted minio server https://docs.min.io/docs/minio-client-complete-guide.html

[2020-12-18 10:32] DamirPorobic commented on #509
Different clients might be easier to achieve with a custom upload script that we already support.

Though if the only difference is the URL then it might be incorporated into the uploader with having a default URL and the user can change it. I must admit that AWS S3 Upload is new to me, haven't worked with it before.

[2020-12-18 11:08] c33s opened #516 "Allow to chance canvas size"
if i take a screenshot from a non quadratic logo it would be nice if i can resize the image canvas (taking this term from photoshop) directly in ksnip.

currently i have create the screenshot, open it in photoshop, resize the canvas from 40x300px to 300x300px with transparent background and head back to ksnip to annotate it.

![image](https://user-images.githubusercontent.com/649209/102608132-aef9

[2020-12-18 11:14] DamirPorobic commented on #516
We have already a feature request for that https://github.com/ksnip/kImageAnnotator/issues/92.
I've added this feature to the next major release road map.

[2020-12-18 11:16] c33s opened #517 "Allow setting transparency of not selected snipping area region"
- allow enable/disable dimming other windows
- allow config of the color of the target cross

[2020-12-18 11:20] DamirPorobic commented on #517
Valid, been thinking about it myself, should be fairly simple to implement.

Could be that this is already working, checkout `Settings > Image Grabber > Snipping Area`, there you can specify the color and thickens of the cross.

[2020-12-18 11:26] c33s opened #518 "Add the option to show a quickmenu after capturing instead of opening the editor"
greenshot has this quickmenu you can show after capturing

![image](https://user-images.githubusercontent.com/649209/102608997-119f8c00-412b-11eb-88f6-b7b62e74da22.png)

here i can simply
- save as
- save directly
- open editor
- copy to clipboard
- send to printer
- mozilla thunderbird
- ...
- close

mainly i miss the first 4 and the close option. also cool would be to allow adding the custom scr

[2020-12-18 11:34] DamirPorobic commented on #518
That looks a lot like out TrayIcon menu. Whats the difference, you want it to be open next to the mouse cursor?  Or you just want it to automatically open (at the TrayIcon) after taking a screenshot?

BTW, auto save and copy to clipboard can be enabled so you don't need to click it at all.

[2020-12-18 11:37] c33s commented on #517
i am on 1.8.0

to be honest i missed the setting but now after using the setting i noticed that it is only working for the small target cross not for the dotted fullscreen line, the zoomed target cross and the coords

my settings
![image](https://user-images.githubusercontent.com/649209/102610475-8a9fe300-412d-11eb-8a52-aa810282b1e4.png)

can't capture my green target cross (using greenshot to mak

[2020-12-18 11:41] DamirPorobic opened #519 "Snipping cursor color should be set for all elements of snipping area"
i am on 1.8.0

to be honest i missed the setting but now after using the setting i noticed that it is only working for the small target cross not for the dotted fullscreen line, the zoomed target cross and the coords

my settings
![image](https://user-images.githubusercontent.com/649209/102610475-8a9fe300-412d-11eb-8a52-aa810282b1e4.png)

can't capture my green target cross (using greenshot to mak

[2020-12-18 11:42] DamirPorobic commented on #517
I'll change and fix your finding in the next minor release. Thanks for reporting.

[2020-12-18 11:45] c33s commented on #518
yes thats it (but with the features/menu i noted above.

it's the tray icon of greenshot, it is opend at the cursor position after the screenshot is taken. this is really handy as i can prevent to open the editor, sometime i want to close, save directly, just copy to the clipboard and very not that often i really want to edit.

of course there is autosave and autoclipboard (also thought about usin

[2020-12-18 11:48] DamirPorobic commented on #518
Ok, understood.

[2020-12-18 11:49] #516 closed

[2020-12-18 12:27] c33s opened #520 "new/open from clipboard"
![image](https://user-images.githubusercontent.com/649209/102612263-afe22080-4130-11eb-9ea4-7a940ca0cf60.png)

also a feature i use quite often in grenshot, `open image from clipboard` Rvia the editor and the tray menu

after some testing and rasing some tickets i can only say your ksnip tool looks really awesome. with some of the request added i would switch to this tool. thanks for your work and

[2020-12-18 12:34] DamirPorobic commented on #520
That should be already supported, check out `Edit > Paste` and `Edit > Paste Embedded`. The first opens a new tab and the second add the image as an image item into the existing tab.

Glad you like it :)
I prefer for every issue a single ticket, the count doesn't really matter for me, it's nice to discuss new ideas ;)

[2020-12-18 12:35] c33s opened #521 "Canceling rect area selection activates main window"
currently if i go into rectangle screenshot mode and exit it with `esc` the empty knsip editor window is still opend and brought to focus while i would assume that i my last windows is still focused and ksnip resides in the system tray.

[2020-12-18 12:37] DamirPorobic commented on #521
Was talking with @fnkabit about this just the other day, it's indeed a behavior that is not expected.

[2020-12-18 12:37] c33s commented on #520
it is not possible from the tray menu

[2020-12-18 12:39] DamirPorobic commented on #520
That's true.

[2020-12-18 12:47] c33s opened #522 "active window title as filename variable"
`ksnip_$Y$M$D-$T.png` missing something like `$W` for the active window title to produce titles like that `2020-12-04 00_57_29- Extensions - Chromium.png`

[2020-12-18 12:52] DamirPorobic commented on #522
There is a feature request for that https://github.com/ksnip/ksnip/issues/169

[2020-12-18 13:53] #522 closed

[2020-12-18 19:20] DamirPorobic commented on #521
Should be fixed now.

[2020-12-18 19:20] #521 closed

[2020-12-18 19:44] DamirPorobic opened #523 "Enter key doesn't finishes resizing"
Expected would be that enter and return behave the same an finish the resizing.

[2020-12-18 20:19] DamirPorobic commented on #523
Fixed.

[2020-12-18 20:19] #523 closed

[2020-12-19 10:25] DamirPorobic commented on #502
PR merged, thanks @fnkabit for implementing!

[2020-12-19 10:25] #502 closed

[2020-12-19 19:31] jdrch commented on #155
Same request here.

[2020-12-20 08:02] DamirPorobic commented on #155
@specialworld83 how am I supposed to use this script? As said eralier, we have an automatic process for building, packaging and uploading to GitHub, we would need to integrate this into this process. A small example would be nice.

[2020-12-21 22:00] DamirPorobic commented on #402
After randomly changing characters in the build script, at least that's what it felt building only via the CI, I think I've got it working, at least I got an email from Apple telling me that my App was notarized. Can someone check the latest continuous build and see if it's working? And while at it, you could also check if this is fixed https://github.com/ksnip/ksnip/issues/401, the version should

[2020-12-21 22:08] DamirPorobic commented on #401
@suschizu can you check if this is fixed in the latest continuous build version from here https://github.com/ksnip/ksnip/releases/tag/continuous?

[2020-12-21 22:50] suschizu commented on #401
hey @DamirPorobic  - no sorry - the issue isn't resolved - the info.plist is still missing the BundleVersion and ShortVersionString key
[code]
![image](https://user-images.githubusercontent.com/16004333/102829393-49d2f300-43e7-11eb-9f5f-f9249bed848c.png)

[2020-12-22 00:02] connorads commented on #402
Looks like it's working in `1.8.1` 🚀

Did you have to pay for your Apple Developer Account in the end @DamirPorobic?

![image](https://user-images.githubusercontent.com/10026538/102833245-720f2180-43e8-11eb-8f63-556b01de38c0.png)

[2020-12-22 07:22] DamirPorobic commented on #402
Nice, glad to hear it's finally working.

Yes I did have to pay, there is no support for FOSS in the world of Apple. The options for not profitable organizations didn't apply to us according to Apple Support, I think it's more for real organizations, we are just some dudes pushing code to GitHub :D

[2020-12-22 07:24] DamirPorobic commented on #401
Sorry I need to clarify this again, do you use the dmg from github directly to install ksnip or do you get it through the Brew Cask?

[2020-12-22 10:07] DamirPorobic commented on #401
I have added some additional version string variables, let's see if they change something. The CI is currently unusual slow, it might take up to 2 hours till my latest changes are available. Would be nice if you could later this afternoon check again if you see any version string and if yes, which one.

[2020-12-22 10:29] suschizu commented on #401
hey @DamirPorobic - I used the github download (but brew cask uses the same download url)

[2020-12-22 10:46] DamirPorobic commented on #401
@suschizu thanks. We set those variables via CMAKE before we build, Qt uses only the result. I have found three other variables that could be used to define the version and I have the suspicion that the variable from where we read the version was not set. The new dmg package should be finished in couple of minutes, let's see if anything is in there.

[2020-12-22 11:44] DamirPorobic commented on #401
@suschizu give it a try now.

[2020-12-22 14:10] suschizu commented on #401
hey @DamirPorobic - here we go 👍
<img width="362" alt="Screen Shot 2020-12-22 at 15 07 42" src="https://user-images.githubusercontent.com/16004333/102897039-ac6bd380-4467-11eb-814c-1d9e0ce41fab.png">
 thanks for your patience :)

the info.plist looks good too now:
[code]

[2020-12-22 14:13] DamirPorobic commented on #401
Great, now I know where the issue might be. Those are currently only hard coded strings, will make it dynamic again tonight.

Thanks for testing!

[2020-12-22 16:18] #401 closed

[2020-12-22 16:28] #402 closed

[2020-12-22 16:46] DamirPorobic commented on #491
Looks ok to me with version `1.9.0`:

![image](https://user-images.githubusercontent.com/12796236/102912386-9cf78500-447d-11eb-98a0-cac7755bea5a.png)

[2020-12-23 10:36] fnkabit commented on #520
@DamirPorobic Is this task about adding the action to the tray menu ?

[2020-12-23 10:40] DamirPorobic commented on #520
@fnkabit yes. The action for pasting from clipboard should be available on the tray icon. We should use the same name everywhere, if it's paste in the Edit menu it should be also in the Tray Icon. And I would only add Paste, not Paste embedded.

[2020-12-24 17:08] jordanrinke opened #526 "Auto resize canvas to include drawn elements"
It would be nice if ksnip automatically resized the canvas to include any drawn elements or allowed manually resizing. I open want to snip a small area of a screen but then draw arrows/add text outside of the snip pointing into it to keep it clean/specific but currently there is no way to do that (that I am aware of)

[2020-12-24 17:09] jordanrinke commented on #526
Nevermind, just noticed I was behind a few minor versions and this appears to be fixed now.

[2020-12-24 17:09] #526 closed

[2020-12-24 17:45] DamirPorobic commented on #526
Yes, this is done now automatically. Also, with next release (`1.9.0`) you will be able to also manually set the canvas size.

Anyways, glad you found a feature you were looking for :)

[2020-12-24 18:53] #520 closed

[2020-12-24 18:54] DamirPorobic commented on #520
Thanks @fnkabit for implementing this feature!

[2020-12-25 16:02] DamirPorobic commented on #476
Implemented, you can hide the toolbar and anntoations settings via tab. The main menubar stays visible for now. Thanks @fnkabit for implementing this feature!

[2020-12-25 16:02] #476 closed

[2020-12-25 16:11] DamirPorobic opened #527 "Add setting for auto hiding toolbar and annotator settings"
We can now toggle the visibility of the toolbar and annotator settings via tab key. It might be useful to allow toolbar and annotator settings to be hidden by default.

[2020-12-25 16:35] DamirPorobic commented on #527
Implemented.

[2020-12-25 16:35] #527 closed

[2020-12-25 17:32] DamirPorobic commented on #517
I've added a config option with which you can define the dimming level of the unselected snipping area region, I hope I didn't get you feature request wrong @c33s

[2020-12-25 17:32] #517 closed

[2020-12-26 20:35] klawdhfzasjhaa commented on #374
Maybe Albert Vaka can help. Or let's drop a message here: https://phabricator.kde.org/project/board/159/.

[2020-12-27 18:13] DamirPorobic commented on #515
Done.

[2020-12-27 18:13] #515 closed

[2020-12-29 01:18] grassvalley opened #529 "文本工具对中文输入有问题"
中文输入通常会一次性输入多个字符到文本工具。这个时候，文本光标只向右移动一个字符，而不是移动到这次输入的多个字符的最后面。
非常抱歉，英文水平有限，无法用英文描述这个问题。

[2020-12-29 08:16] DamirPorobic commented on #529
Hello, I can recommend deepl.com, it's excellent for translating larger texts in case you're insecure about your English, that's what I used to get the English version of your text.

For others, the translation:

Thanks for reporting this issue, I'll have a look into it

[2020-12-30 15:06] vaunchag opened #530 ""Remember last Save Directory" should be independent for auto-save and manual save."
Currently the last directory specified on a manual save is also used for automatic saves, which is awkward.

- Remembering the last manually used "Save directory" is really needed: it's the place more probable to be reused on the following manual save, and re-specifying the path for each image is very unconvenient.
- Specifying an automatic "general place" for saving is also really convenient as a

[2020-12-31 12:17] adriaandegroot commented on #360
PR #531 addresses all of these against current development.

[2020-12-31 12:17] #360 closed

[2021-01-01 12:33] FlawlessDeveloper commented on #417
I would be interested in this feature, because every snipping tool i tried did not work or did not have this feature

[2021-01-02 18:07] grahamperrin opened #534 "Grey rectangle in lieu of mouse cursor (pointer) when preferring to capture the mouse cursor"
I have not yet made this reproducible (sorry) but earlier today, the bug was frequent enough for me to switch to an alternative app for captures.

### Example A

![103452729-61a15580-4cca-11eb-905e-c744a73c323f](https://user-images.githubusercontent.com/192271/103462982-e61ec300-4d20-11eb-83d2-60b0ab02e1ec.png)

In context:

![2021-01-02 07:26:49](https://user-images.githubusercontent.com/192271/1

[2021-01-02 19:04] DamirPorobic commented on #534
hmm, a wild guess is that this might be the mouse cursor which is added as an item on top of the image just after you have taken the screenshot, there the undo might come from. Two things to try:
- Try activating the select tool (Shortcut `S`) and see if you can select that rect by clicking on it.
- Try disabling capturing mouse cursor and see it the rect still occurs. `Options > Settings > Image

[2021-01-03 18:38] DamirPorobic commented on #474
This is now implemented in `1.9.0`, kudos to @fnkabit.

[2021-01-03 18:38] #474 closed

[2021-01-04 17:20] mrmodolo commented on #276
Hi!

On Ubuntu 20.10 with a 4K monitor and scale factor of 150 the first time the application is run, the screen goes black, flashes several times and the cursor freezes. After pressing ESC and trying again, the screen shrinks to a fraction of the monitor.

I tried with different settings:

bin/ksnip-1.8.0-x86_64.AppImage
QT_AUTO_SCREEN_SCALE_FACTOR=0 QT_SCREEN_SCALE_FACTORS="" bin/ksnip-1.8.0-x86

[2021-01-04 17:26] DamirPorobic commented on #276
Doesn't sound like the initial issue reported here, this one occurs with dual monitors. Can you log a separat issue for the behavior you're experiencing?

[2021-01-04 19:47] mrmodolo commented on #276
Pardon!

I will open a new issue!

[2021-01-04 19:50] mrmodolo opened #535 "Problems capturing screenshots with 4k displays zoomed to 150%"
Hi!

**Unlike #276 in this case, I only have one monitor!**

On Ubuntu 20.10 with a 4K monitor and scale factor of 150 the first time the application is run, the screen goes black, flashes several times and the cursor freezes. After pressing ESC and trying again, the screen shrinks to a fraction of the monitor.

I tried with different settings:

bin/ksnip-1.8.0-x86_64.AppImage
QT_AUTO_SCREEN_SCALE

[2021-01-04 19:51] DamirPorobic commented on #535
Thanks for logging thin, I'll have a look into it.

Do you use Wayland or X11?

[2021-01-04 21:12] mrmodolo commented on #535
Hi!

X11

✦ ❯ loginctl
SESSION  UID USER   SEAT  TTY
      2 1000 modolo seat0 tty2

1 sessions listed.

✦ ❯ loginctl show-session 2 -p Type
Type=x11

✦ ❯ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.10
Release:	20.10
Codename:	groovy

Thanks,
Marcelo Módolo

[2021-01-04 21:32] mrmodolo commented on #535
Hi!

I found that with the combination of values for the variables below the application works!

✦ ❯ printenv | grep QT
QT_ACCESSIBILITY=1
QT_IM_MODULE=ibus
**QT_AUTO_SCREEN_SCALE_FACTOR=1
QT_SCALE_FACTOR=1.5**

However, the aspect seems a little big in relation to the fonts and other windows as you can see below!

![Captura de tela de 2021-01-04 18-26-53](https://user-images.githubusercontent.com

[2021-01-04 21:56] mrmodolo commented on #535
Hi!

I found the best values!
If you have more than one monitor, you can put the factors separated by ';' (exampĺe QT_SCREEN_SCALE_FACTORS="1.5;2")

env | grep QT
QT_ACCESSIBILITY=1
**QT_SCREEN_SCALE_FACTORS=1.5**
QT_IM_MODULE=ibus
**QT_AUTO_SCREEN_SCALE_FACTOR=1**

You can see that the screens look better!

![Captura de tela de 2021-01-04 18-51-06](https://user-images.githubusercontent.com/192317

[2021-01-05 19:25] RiversideRocks opened #537 "Upload Script Example"
Let me first say that this is a pretty nice screenshot tool.

I keep hearing about user scripts to upload to custom servers. Is there is example of one of these?

[2021-01-05 19:32] DamirPorobic commented on #537
First of all, thanks for the feedback :)

I don't have any script at hand but one of the users provided one here https://github.com/ksnip/ksnip/issues/380

Basically ksnip just runs a bash, or what ever kind you have, script and provides the image as the single parameter to that script. What you do in the script is up to you, uploading something is just one use case. One limitation though when you

[2021-01-05 19:42] RiversideRocks commented on #537
Also, one more question, is it possible to get more verbose errors as to why it failed to run a script? I've checked permissions.

[2021-01-05 19:46] DamirPorobic commented on #537
hmm, you can try in settings (Options > Settings > Uploader > Script Uploader) disabling that it stops when the script writes to StdErr and you can also copy all output to clipboard (if you're not already running ksnip from console and see the output there). That's all that comes to my mind.

[2021-01-05 22:28] RiversideRocks commented on #537
Thanks for the response. I've checked the console and all it prints is `Upload Failed: Unable to start process, check path and permissions.`

![ksnip_20210105-172800](https://user-images.githubusercontent.com/59586759/103706778-69d3ec00-4f7b-11eb-8290-7f1e793adb96.png)

Nothing is saved to my clipboard.

[2021-01-06 07:21] grahamperrin opened #538 "Capture save location: the root of the home directory is not an appropriate default"
`~` is world readable on some systems.

Please make the default something other than the root of the home directory.

`~/Pictures` might be better.

Thanks

[2021-01-06 07:33] grahamperrin commented on #534
Now, that seems like a good guess.

Certainly, the pointer was at or near the area of the grey rectangle in this shot, which I took a few minutes ago:

![image](https://user-images.githubusercontent.com/192271/103741402-e5bc4b80-4ff0-11eb-8c89-ce0f6c8fc291.png)

Now disabled, I'll test.

Thanks

[2021-01-06 13:55] DamirPorobic commented on #537
hmm, is the script executable (`$ chmod +x myScript.sh`)?

Have you tried commenting everything out and just leave something very simple in there, like an echo (`echo "Test 123"`)?

[2021-01-07 14:44] RiversideRocks commented on #537
Tried both, no luck. I don't show it in the video, but I mark the script as executable.

https://user-images.githubusercontent.com/59586759/103905508-b3801c00-50cc-11eb-8d8d-e34ca59667d1.mp4

[2021-01-08 09:46] RafaelLinux opened #539 "Strange behaviour after near simultaneous "right-click" plus "left-click" when putting "number arrow" (W)"
I'm using my new left hand trackball. I have my mouse button switched, so some times accidentally I press "right-click" plus "left-click" simultaneously. I put "Number arrow" elements here and there, but sometimes, if I press both mouse buttons together , it put the "number arrow" element and seems all is normal. However, how you can see in shared video, if I try to modify or simply click in some

[2021-01-09 18:31] DamirPorobic commented on #537
Can you send me over that script?

[2021-01-10 19:55] RiversideRocks commented on #537
I installed it from apt-get if I remember correctly.

This is the script:

[code]

Would building from source solve this issue?

[2021-01-10 19:58] DamirPorobic commented on #537
Try the appImage, with it it should work.

________________________________
From: RiversideRocks <notifications@github.com>
Sent: Sunday, January 10, 2021 8:55:27 PM
To: ksnip/ksnip <ksnip@noreply.github.com>
Cc: Damir Porobić <damir_porobic@live.com>; Assign <assign@noreply.github.com>
Subject: Re: [ksnip/ksnip] Upload Script Example (#537)

I installed it from apt-get if I remember correctly.

T

[2021-01-13 22:53] kendoori commented on #400
I was still having this issue when running 1.8.0 installed as a .deb on Linux Mint 20. I tried installing the 1.9.0 continuous .deb build and the issue persisted. I decided to uninstall and use the appimage instead. Oddly, the appimage doesn't have the issue.

[2021-01-14 07:37] DamirPorobic commented on #400
Ok, that's news. I haven't had the time to look into it but that's valuable information.

[2021-01-14 18:35] Aikatsui opened #540 "Ability to zoom taken screenshot and drawing"
As GIMP add support for zoom taken screenshot and draw or make changes, this isn't about existing scale feature

[2021-01-14 18:41] DamirPorobic commented on #540
Zooming in and out the screenshot? We support that already via mouse wheel in version `1.8.0` and with latest `1.9.0` continuous build we support als zooming via UI buttons.

[2021-01-15 11:34] DamirPorobic commented on #416
According to Qt this issue should be fixed with Qt `5.15.2` version.

[2021-01-15 17:30] #540 closed

[2021-01-18 07:44] DamirPorobic commented on #491
@pkoerner81929 do you still run into this issue? I was not able to reproduce it on my side.

How do you install ksnip? Have you tried the AppImage?

[2021-01-18 13:39] pkoerner81929 commented on #491
Works fine on 1.8.0. (flatpak)

I would consider it as solved.

Thanks again.

[2021-01-18 13:41] DamirPorobic commented on #491
Awesome, thanks for confirming.

[2021-01-18 13:41] #491 closed

[2021-01-19 09:55] Qualaelay opened #541 "Support for rotate"
Love the tool! I'm missing however a rotation option from the canvas by 90 degrees. Could be in "edit" menu.

[2021-01-19 21:10] #538 closed

[2021-01-19 21:16] DamirPorobic commented on #537
Have you tried the AppImage @RiversideRocks?

[2021-01-20 00:06] RiversideRocks commented on #537
I've tried the appimage and the deb, they both don't work.

[2021-01-20 00:07] RiversideRocks commented on #537
Is there a way to purge configuration? That could be causing issues.

[2021-01-20 07:21] DamirPorobic commented on #537
The config should me in you home directory, I believe `~/.config/ksnpi/`, you can simply remove the config file from this directory, this will reset all configuration to default.

[2021-01-20 09:53] amenk opened #543 "Save-as Window does not get focus when using snap"
I installed from snap (ksnip (edge) 1.9.0) under Ubuntu 20.04

When I use File->save as, the file choose is not focused, but somewhere in the background, leaving the main window unusable.

[2021-01-20 09:56] DamirPorobic commented on #543
The file chooser is not focusable at all or you have to click in the window to get focus?

[2021-01-20 09:58] amenk commented on #543
I can be focused by finding it in the dock, but is not focused by default, which is very confusing and annoying.

[2021-01-20 10:00] DamirPorobic commented on #543
@LyzardKing can you have a look into this? Just quickly checked under Windows I get the window focused correctly and I cannot remember seeing this issue under Linux, it might be a snap thing.

[2021-01-20 10:04] amenk commented on #543
I work with two screens.
Also I noticed that after taking a quite small screenshot, the edit window is resized to a very large size. Shall I create another issue? I will also test the .deb

[2021-01-20 10:06] amenk commented on #543
Both problems only happen in the snap. The deb works fine and I also have German translations, which I did not have in the snap.

[2021-01-20 10:11] DamirPorobic commented on #543
Those are two additional issues, the translation should be working and the window should be always sized to the largest screenshot tab. Yes, please log separate issues for that.

[2021-01-20 10:11] amenk opened #544 "Different fonts used for Number and Number Pointer"
On Ubuntu 20.04, deb installation (I believe the snap did not have this issue) different fonts are used for Number and Number Pointer

![image](https://user-images.githubusercontent.com/1087128/105160080-197a9380-5b10-11eb-9b72-c12eb5954c31.png)

Maybe some font is missing from my system? Which font is used? I did not find an option to change the font.

[2021-01-20 10:15] amenk commented on #377
Just added you as a sponsor via "imidigitaldev", this issue would be super interesting for my colleagues and me :)

[2021-01-20 10:23] LyzardKing commented on #543
I checked now and it does indeed not focus on the dialogs..
I believe it's a snap problem.
I'll raise it on the snapcraft forums

[2021-01-20 10:29] DamirPorobic commented on #543
Thanks @LyzardKing

[2021-01-20 10:32] DamirPorobic commented on #377
@amenk thanks, much appreciated :)

I have planned this feature for the next minor release. Currently I'm finishing up some bugs for the `1.8.1` patch release, after that I'l continue working on `1.9.0`.

[2021-01-20 16:07] DamirPorobic commented on #543
Let's try with non native dialog under snap. I have pushed a change, might take up to an hour until it's available.

[2021-01-20 16:10] DamirPorobic opened #545 "Canceling save dialog show the option save path in the header"
Steps to reproduce:

1. Create screenshot
2. Select "Save As" from File Menu, the save as dialog is opened
3. Cancel "Save As" dialog
4. The ksnip header is updated and shows the default save path. Expectation here would be to see no path.

[2021-01-20 17:17] amenk opened #546 "Ksnip as MSI Package for windows"
Are there any plans for MSI packages for the Windows version?

This would ease the rollout of ksnip for our Windows users.

[2021-01-20 17:49] DamirPorobic commented on #512
Closing this one as duplicate, continuing in #155

[2021-01-20 17:49] #512 closed

[2021-01-20 17:50] DamirPorobic commented on #155
@specialworld83 can we use InnoSetup to create an MSI package for ksnip?

[2021-01-20 17:52] DamirPorobic commented on #546
We have this one here #155 and now after you have asked this question and I started looking into this I run into this InnoSetup that one of the users already provided a script for. So this might speed things up. I'll close this one, further discussion please in #155

[2021-01-20 18:07] DamirPorobic commented on #546
Ok, InnoSetup seems to be not supporting creating MSI, might be a more complex task.

[2021-01-20 18:17] DamirPorobic commented on #546
Would a standard setup exe work for you?

[2021-01-20 19:05] amenk commented on #546
I believe we need an MSI to automate deployment. I can also try to look into it. Where are the windows releases currently assembled? Is there something like GitHub actions or travis for this or is it done manually on some windows computer?

[2021-01-20 19:08] DamirPorobic commented on #546
Everything is done by Travis-CI, the yml is the entry point  https://github.com/ksnip/ksnip/blob/master/.travis.yml

[2021-01-20 19:29] DamirPorobic commented on #545
Fixed.

[2021-01-20 19:29] #545 closed

[2021-01-20 19:35] DamirPorobic commented on #377
I've been thinking about this one today and we might have a usability problem or at least I don't know how shutter resolved it.

The image is show in the annotator and in the annotator there is always a tool select, either the Select or some Annotation tool. Left click and move with the Select tool draws a region for selecting items below it and with any other annotation tool we draw the tool. So

[2021-01-20 19:38] amenk commented on #377
In shutter it's a two step procedure to edit a screenshot, that's why in the viewing step you can drag.

Maybe dragging could work from the screenshot name tab or a specific icon or area for dragging could be added there?

[2021-01-20 19:44] DamirPorobic commented on #377
Yes, everywhere except the annotation area should not be a problem but what I'm afraid is that probably everyone is going to drag from the annotation area and only few would know that you can drag from the tab for example.

But yes, might be a starting point.

[2021-01-20 19:55] amenk commented on #377
The tabs are already dragable (for reordering), so it would be easy to find out if they are also drag'n'drop-able to another application.

But somehow this can work only if autosave is on I guess? Or does it make sense save just before dropping into another application? I believe this could be surprising for users. Of course there could be a warning message when dragging-out and it's not yet saved

[2021-01-20 20:02] DamirPorobic commented on #377
It doesn't have to be saved, it's basically the same as copying the image, we create a QImage from the current annotator content and copy it to the QDrag, which is basically a glorified clipboard https://doc.qt.io/qt-5/dnd.html#dragging

But that's maybe a problem with drag&drop of the tab, maybe the Tab, that are a Qt component capture the drag event for them and don't hand it over to us. We'll w

[2021-01-20 20:16] amenk commented on #546
WIX Toolkit seems the way to go, and somehow [cmake has a WIX capability](https://stackoverflow.com/questions/18437356/how-to-generate-msi-installer-with-cmake/18442823)?

[2021-01-20 20:19] DamirPorobic commented on #546
Looks like a good starting point, we might give it a try. Thanks for the hint :)

[2021-01-20 20:38] DamirPorobic commented on #546
Another alternative seems to be Qbs with Wix Module https://doc.qt.io/qbs/qml-qbsmodules-wix.html

[2021-01-20 21:11] amenk commented on #377
In shutter we drag'n'drop the files to our issue tracker's upload field, so that would be more like a file drag I guess

[2021-01-20 21:20] DamirPorobic commented on #377
You sure that your issue tracker doesn't support pasting an image from clipboard directly without the image being saved? I use it very often, Github supports it, Jira, Confluence, Outlook, MS Teams and so on. I can't remember any case where it didn't work. I usually never save images that I take with ksnip, I just take them, annotate and then copy and paste it somewhere and close ksnip.

[2021-01-20 21:43] amenk commented on #377
We use Easyredmine... It does support It somehow, but not as well as GitHub.

Also it would be nice to benefit of the sequential naming features of ksnip in this case, i.e..filenames would get lost with the copy-paste approach.

It's all not a must, but that is our current workflow with shutter. Maybe we find a better one

[2021-01-21 09:27] LyzardKing commented on #543
With this change the dialog does open focused, but we need to redefine the default dir (as the real user home) or it'll show the snap home.. This could be confusing to see..
![Screenshot from 2021-01-21 10-24-02](https://user-images.githubusercontent.com/7113541/105330958-2d3afe00-5bd3-11eb-82fa-6fe20694a8b3.png)

[2021-01-21 09:31] LyzardKing commented on #543
The snap home issue is only present if the user has not selected a different folder in the preferences.
It might be best to add a sane default. If we choose $HOME then it should be redefined in the snap

[2021-01-21 09:41] DamirPorobic commented on #543
Yes, that's ugly. How do we do it for the open file dialog? There we also use the non-native?

Just using the $HOME doesn't seem to be the best solution, I would expect to save my stuff always in the same directory and here we have a situation where the default was changed, but if we don't find any other solution we might need to go with this one for snaps. Maybe try somehow to map the snap direct

[2021-01-21 09:45] LyzardKing commented on #543
we could do in KsnipConfig::saveDirectory() something like:
[code]

[2021-01-21 09:46] LyzardKing commented on #543
SNAP_REAL_HOME is the value of $HOME inside a snap. Since $HOME is reloacted to a snap specific dir.

[2021-01-21 09:59] DamirPorobic commented on #543
I'll have a look into it tonight, maybe we need to introduce our own class for fetching the home directory and do something similar to what you wrote there.

[2021-01-21 19:41] DamirPorobic commented on #543
We are not setting for snaps the home directory from qgetenv("SNAP_REAL_HOME"). Would nice if you could test again @LyzardKing

[2021-01-21 22:14] LyzardKing commented on #543
@DamirPorobic It seems to be working properly!

[2021-01-22 07:26] DamirPorobic commented on #543
Nice, thanks for confirming. I'm closing this issue now.

[2021-01-22 07:26] #543 closed

[2021-01-22 14:02] DamirPorobic commented on #369
Been thinking about this feature and I really see a lot of use cases.

[2021-01-23 00:37] grahamperrin commented on #534
Confirmed.

If I prefer to capture the pointer, there's no pointer. Instead: the greyness.

[2021-01-23 18:08] #400 closed

[2021-01-23 18:09] DamirPorobic commented on #400
I was able to reproduce this issue in my Mint Cinnamon 20.1 VM and to resolve with a simple fix. Would be nice if you could double check on your side.

[2021-01-23 20:10] DamirPorobic commented on #534
Is there a simple way to get a FreeBSD machine running with Plasma? Looks like a lot of work to get it Plasma running there...

[2021-01-24 04:40] grahamperrin commented on #534
Assuming FreeBSD as a VirtualBox guest, and _damir_ as your username, try this:

1. install FreeBSD
2. `pkg install kde5 sddm xorg  virtualbox-ose-additions`
3. `pw groupmod video -m damir`
4. `pw groupmod wheel -m damir`
5. `sysrc dbus_enable=YES`
6. `sysrc hald_enable=YES`
7. `sysrc sddm_enable=YES`
8. `sysrc vboxguest_enable=YES`
9. `sysrc vboxservice_enable=YES`
10. the command shown below
11.

[2021-01-24 08:31] DamirPorobic commented on #534
Thanks for the detailed explanation, that really helped setting up the system. On a fresh install the cursor capture seems to be working:
![image](https://user-images.githubusercontent.com/12796236/105624939-e3962180-5e25-11eb-8ac4-523f09d50c9b.png)

Anything specific you're doing while taking the screenshot? I have tried so far:
- Capture with and without mouse cursor
- Rectangle capture and acti

[2021-01-24 09:03] DamirPorobic commented on #535
Tested in my Ubuntu 20.04 VM and the only issue that I see is that icons and text is not properly scalled but the rest seem to be correct:
![image](https://user-images.githubusercontent.com/12796236/105625658-f95a1580-5e2a-11eb-87d9-5e13f62703be.png)

Is this the issue you're seeing? The Screenshot seems to be correct. That's now WQHD with 200% scaling.

[2021-01-24 09:40] DamirPorobic commented on #535
Just tested with a fresh install of Ubuntu 20.10 and see there the same behavior, icons with fixed size are not correctly scaled but screenshots seem to be captured correctly as far as I can tell.

[2021-01-24 09:54] grahamperrin commented on #534
Non-expert guesses about possible contributory factors …

### Compositing

Mentioned in the opening post <https://github.com/ksnip/ksnip/issues/534#issue-777501552 >, here's a screenshot

![image](https://user-images.githubusercontent.com/192271/105626505-f01b7980-5e27-11eb-8374-c39522873750.png)

### OS and DRM

Not 12.2 here

Detailed in the opening post, things now are slightly different:

[cod

[2021-01-24 15:30] kendoori commented on #400
I installed 1.9.0 continuous .deb and it works properly.

--Kenny

On Sat, Jan 23, 2021 at 1:09 PM Damir Porobić <notifications@github.com>
wrote:

[2021-01-24 15:31] DamirPorobic opened #549 "Icons and text boxes not correctly scaled under gnome with hdpi"
As shown on screenshot, some icons and text boxes are not scaled correctly, it's affect all with set fixed width.
![image](https://user-images.githubusercontent.com/12796236/105635085-756f5000-5e61-11eb-9ded-760aba742a61.png)

[2021-01-24 15:41] DamirPorobic commented on #549
Fixed.

[2021-01-24 15:41] #549 closed

[2021-01-24 15:44] DamirPorobic commented on #535
I have address the incorrectly scaled UI elements here #549, those should be fixed now in latest version, thought the CI might need some time to build it.

Regarding the screenshot issue you're facing, I might need more input from you on how to reproduce it. Best would be if you could try to reproduce it on a fresh installed VM @mrmodolo .

[2021-01-24 16:40] DamirPorobic commented on #534
Tried the compositor settings you have there, doesn't seem to have any effect on the cursor.

Don't know if I can simulate any of the other settings you have there. Might be best if you try to reproduce in a VM the same behavior so I can mirror it on my side.

[2021-01-24 16:47] DamirPorobic commented on #460
Been looking into this issue and might be problematic to resolve it in a generic way, X11 seems to be unaware of this region so it's not possible for us to detect what that border is and what the actual window . What we could do here is for Gnome always reduce the rect for that size (seems to be a fixed size), you would get in that case only the window without the region around it. Problematic is

[2021-01-24 17:12] grahamperrin commented on #534
Testing now

[2021-01-24 18:48] robertbyers1111 commented on #398
I would like to see this issue too. (is there a feature request upvote in github so I don't need to reply to voice my desire for a feature? I could not find one, so I'm posting this replay instead. I don't use github much!)

[2021-01-24 18:59] DamirPorobic commented on #398
Just commenting is the best way I guess, it gets my attention.

This feature how ever, a complex one, I'm not sure how to get from X11 something that is not visible. As far as I know under X11 the content for an obscured region is undefined so trying to get it gives just garbage. In browsers, on the other hand the browser knows what the page is and can construct it based on the html. I'm not sure

[2021-01-24 19:05] DamirPorobic commented on #398
@robertbyers1111 do you know any of those extensions for Firefox for example?

[2021-01-24 19:19] DamirPorobic commented on #534
Do you think you'll have later a chance to try to reproduce it? I'm probably working on patch 1.8.1 till end of the month.

[2021-01-24 19:37] grahamperrin commented on #534
I'll try

[2021-01-24 19:53] robertbyers1111 opened #550 "Add zoom in/out capability to the editor"
I recently wrote a ksnip review on alternativeto.net in which I described my confusion trying to crop a fullscreen screencap. One feature that might make this type of situation easier for the user would be an ability to zoom in/out in the editor (not scaling the image itself, only changing the window's zoom) (and, furthermore, when the user clicks 'crop' for an image that doesn't fit in the edit w

[2021-01-24 20:39] DamirPorobic commented on #550
Thanks for the feedback, it's always nice to get some constructive feedback. Don't know what version you are using but the editor can be already zoomed in and out with the mouse wheel and with the next version, `1.9.0` that is, it will also support zooming in and out with keyboard shortcuts and buttons next to the zoom spinedit (bottom left). Having said that, this functionality is only supported

[2021-01-25 02:36] robertbyers1111 commented on #550
Thanks for the quick feedback! Yes, my alternativeto review was posted just before I posted my feature request here. Hopefully it is visible by now.

I use version 1.7.3, only because that is the version currently available from the default repositories of my OS (Linux Mint 20.1) I use apt to install software.

However, now that I'm aware ksnip is being actively developed and adding features, I'm

[2021-01-25 03:10] robertbyers1111 commented on #550
I just upgraded to 1.8.0 (from 1.7.3) and I like many of the new features! I see how the zoom in/out works with the wheel - nice! I also see what you mean about how zooming doesn't work during a crop.

I like the idea of drawing a cropping border in a very bright color - and/or the drag points (not sure what else to call them) in the same bright color.

Maybe it is just me, but it took me a long t

[2021-01-25 13:43] pkoerner81929 opened #551 "Allow disabling auto resizing after first capture"
The capture window is always resized to (more than) 100% view after each capturing (manually or Shift-L). I would very much prefer to have it a fixed size, so it stays out of the way, independent of the size of the captured window. A settings option like "Do not resize Main Window after capturing" would describe, what I am looking for.

Screenshot 1: small window
Screenshot 2: After Shift-L, windo

[2021-01-25 13:53] DamirPorobic commented on #551
Ok, you would basically like a config option to disable the "Resize to capture", should be doable.

What would you do for the first capture? What size would you use for the initial size?

[2021-01-25 14:44] pkoerner81929 commented on #551
Actual, I prefer to just leave it as I set it in the beginning (e.g. very small, but not hidden). No resizing at all if disabled. I often use the Shift-L feature on some presentation window somewhere else. If this is 1920x1080 image, a "resize to capture" would bring ksnip into the foreground as way to large.

[2021-01-25 20:27] DamirPorobic commented on #460
I think I have found a way how to get the width of this region, calling `xprop -id <WindowId>` returns the `_GTK_FRAME_EXTENTS(CARDINAL)` value for left, right, top and bottom offset that we just need to subtract from the rect.

Problem will be probably the snap because we need to invoke another application here. @LyzardKing can we just add xprop as one of the required applications to the snapcraf

[2021-01-26 15:23] pkoerner81929 opened #552 "Change drop shadow design slightly"
Applying drop shadows on light/white images is too soft/light. Borders are almost invisible, so placing these captures on white background (paper) looks irritating.

Screenshot 1: left (ksnip), right (other drop shadow filter)
Screenshot 2: ksnip github dropshadow version (nice).

![grafik](https://user-images.githubusercontent.com/17785334/105864854-a59a2880-5ff2-11eb-91a0-de872fe12834.png)

![gr

[2021-01-26 22:16] DamirPorobic commented on #460
I believe I have found a workaround, it's a bit ugly, using an output from an external program, xprop to find out how much we should crop. My test on Ubuntu 20.10 worked and the window had no border anymore.

@LyzardKing I have added xprop to the snap file, I hope it's not breaking anything: https://github.com/ksnip/ksnip/commit/b94a972bce1ece7dd5e73956457f38d3d437a3e5

[2021-01-26 22:16] #460 closed

[2021-01-27 08:49] LyzardKing commented on #460
Yes, sorry but I just read this today.
It shouldn't be a problem to add xprop to the snap..

[2021-01-27 09:03] DamirPorobic commented on #460
Does flatpak has this limitation that it needs to allow applications that are used, like we had it for snap (curl and ftp so far)?

Would be nice if someone could test the snap with Gnome and eventually the flatpak.

[2021-01-27 09:32] LyzardKing commented on #460
Yes, the flatpak either needs to set explicit access to a binatry on the host system or to add the binary in the package.
It would be better to test it before we change something.

[2021-01-27 09:51] DamirPorobic commented on #460
I have made the change already in the code and the snap package, would be nice if you could give it a try. To trigger it you just have to take a screenshot of an active window on Gnome.

[2021-01-27 10:04] LyzardKing commented on #460
It takes a screenshot of something that is under the ksnip window... not of the currently active window..

[2021-01-27 10:08] DamirPorobic commented on #460
You have clicked into the active window? Have you tried a small delay, like 1sec?

[2021-01-27 10:10] LyzardKing commented on #460
Ok.. I need to set the delay, otherwise it doesn't work. But I still get the border

[2021-01-27 10:12] LyzardKing commented on #460
The snap in the edge channel isn't updated yet...
I'll rebuild from source anche test that

[2021-01-27 10:13] DamirPorobic commented on #460
Yes, it's probably to fast, it takes the active window rect at the moment you trigger the screenshot and that is ksnip.

[2021-01-27 10:14] LyzardKing commented on #460
yes, I imagined as such. Shouldn't there be a 1s delay by default?

[2021-01-27 10:16] LyzardKing commented on #460
the package is not xprop but x11-utils

[2021-01-27 10:16] LyzardKing commented on #460
I'm testing now... I'll open a PR with the necessary changes

[2021-01-27 10:17] DamirPorobic commented on #460
The default delay is 200ms which is enough for ksnip to hide but not for a human to click two windows. You could probably get better results by activating any window and then hitting Global Hotkey for active window screenshot.

Regarding the snap build, strange, last build is 1 day ago
![image](https://user-images.githubusercontent.com/12796236/105976983-23147600-6091-11eb-9707-4cd5b78a68b2.png)

[2021-01-27 10:18] DamirPorobic commented on #460
Of course, you can't get just that simple application you have to get the whole util package...

[2021-01-27 10:18] LyzardKing commented on #460
yes, from before the change I think.. especially since it would have failed with the current change

[2021-01-27 10:32] LyzardKing commented on #460
I opened a PR but that was the only change necessary

[2021-01-27 10:38] DamirPorobic commented on #460
I need to merge it into the 1.8.1 branch, will do it tonight. Thanks for providing the PR.

[2021-01-27 15:27] DamirPorobic commented on #537
@RiversideRocks have you been able to make progress on this one?

[2021-01-27 17:05] c33s opened #554 "fyi: latest build ea4d2f9 triggers trojan warning on virustotal (microsoft)"
https://www.virustotal.com/gui/file/846f005727d7b1d6393782ce277e2b8362bcad2c2c8c981ea1ad3e9352ee76f1/detection

ksnip-1.9.0-continuous-windows.zip

as the app takes screenshot i think it's easy to trigger a false positive. just wanted to let you know. maybe you can report the (hopefully) false positive to m$.

just close if you don't see the need for an action.

[2021-01-27 19:56] DamirPorobic commented on #554
What virus scanner from Microsoft is that? Defender?

[2021-01-27 20:15] fidelix opened #555 "Feature request: Auto upload"
I'd like a very automated process:

Shortcut to take a screenshot, copy to clipboard immediately, save to folder automatically, upload automatically, then copy URL to clipboard automatically.

Is that possible?

[2021-01-27 20:44] DamirPorobic commented on #555
All except the upload can be enabled to be executed automatically any time you take a screenshot.

Maybe this feature will bring what you require https://github.com/ksnip/ksnip/issues/369
I have in mind some pipeline (multiple actually) where you can define what screenshot type you want then what post processing you want (save, copy, upload, pin, ...) and assign a hotkey to it so when you trigger

[2021-01-27 20:48] c33s commented on #554
i assume but i really don't know

[2021-01-27 22:08] fidelix commented on #555
Yes, that would certainly solve it.

[2021-01-27 22:08] #555 closed

[2021-01-27 22:19] c33s opened #556 "feature request: allow to zoom in modify canvas view"
in the normal view i can zoom with the mouse wheel, would be good to allow the same in the modify canvas view

[2021-01-27 22:45] c33s opened #557 "pen (or any other tools) should be without effects or obey the effect dropdown"
![image](https://user-images.githubusercontent.com/649209/106063925-4bd05600-60f9-11eb-9525-9ce84ae1ee5f.png)

if you screenshot a logo from a webpage, you may have to fill some spaces to have a fully one colored background. this is currently not possible with the pen as it always applies a highlight effect.

please allow to disable this effects.

[2021-01-27 22:48] c33s opened #558 "line thickness 1 should be really 1px"
![image](https://user-images.githubusercontent.com/649209/106064318-f0529800-60f9-11eb-9573-0c0ee51b5da8.png)

screenshot took with greenshot. there the red circles are really 1px. in ksnip they are far to thick for small annotations like the "drop shadow" toggle button of greenshot.

[2021-01-28 04:41] eliranwong opened #559 "qt.qpa.plugin: Could not find the Qt platform plugin "wayland""
I tried to run on Chrome OS Debian 10, with the following errors, please advise.  thanks.

qt.qpa.plugin: Could not find the Qt platform plugin "wayland" in ""
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.

Available platform plugins are: eglfs, linuxfb, minimal, minimalegl, offscreen, vnc, xcb.

[2021-01-28 07:17] DamirPorobic commented on #557
Have you tried disabling the drop shadow `Options > Settings > Annotator > Paint Item Shadows`.

[2021-01-28 08:44] DamirPorobic commented on #559
That looks like a Qt problem. Do you have any other Qt application running on your system?
How did you install ksnip?

I personally haven't worked with Chrome OS yet so it might be that ksnip doesn't run on it yet but I could look into it, though I would need to buy a Chromebook first. Is Chrome OS Debian 10 something that comes preinstalled on Chromebooks?

[2021-01-28 09:45] c33s commented on #557
yes, this works, thank you.

the function is quite well "hidden" ;D  the small shadow button in greenshot, is handier and quite more intutive.

![](https://user-images.githubusercontent.com/649209/106064318-f0529800-60f9-11eb-9573-0c0ee51b5da8.png)

in phototshop and most other image tools i know, the handling of the setting of the current selected tool is in the horizontal menu next.

![image](ht

[2021-01-28 09:46] DamirPorobic opened #561 "Allow disabling tray icon notifications"
Some users would like to disable tray icon notifications via config options. The notifications should be enabled by default.

[2021-01-28 09:48] DamirPorobic commented on #561
@fnkabit can you have a look into this one?
Should be a smaller change, we probably just need a config option in the Tray Icon section and in the NotifyOperation we need to check for it before notifying.

[2021-01-28 09:52] fnkabit commented on #561
Sure thing. Will fix this today.

[2021-01-28 10:26] eliranwong commented on #559
Yes, I have other qt applications, running properly.  All of them runs properly after I export

ksnip is the only qt applications I tested not running.  I really want to use your great app.

on chrome os, debian 10 is pre-installed with a container.  fyi, I wrote some notes on setup at:

https://github.com/eliranwong/ChromeOSLinux

as I tested, the most relevant thing for qt to run on Chrome OS is

[2021-01-28 10:53] DamirPorobic commented on #559
I'll try to look into it but can't promise when I will be able to get my hands on a Chromebook.

[2021-01-28 10:55] DamirPorobic commented on #557
Yes, some change might be required there but it's a larger one. I have opened a discussion to get more user feedback https://github.com/ksnip/ksnip/discussions/562

[2021-01-28 10:55] #557 closed

[2021-01-28 11:15] eliranwong commented on #559
appreciate your effort.  thank you very much.

[2021-01-28 21:19] #561 closed

[2021-01-29 04:04] vlad88sv opened #564 "Can't capture tooltips in Chrome"
With the default Ubuntu screenshot tool I can capture the tooltip (no mouse pointer):
![image](https://user-images.githubusercontent.com/91489/106230149-77fcdd00-61b4-11eb-861f-088bd5a805e5.png)

With KSnip I can capture the pointer but not the tooltip:
![image](https://user-images.githubusercontent.com/91489/106230169-84813580-61b4-11eb-9ee6-932eeefa9b90.png)

It seems that as soon as I hit Alt+S

[2021-01-29 07:27] DamirPorobic commented on #564
That hitting global hotkey hides tooltip is something that I'm aware of but that it doesn't work with delay is news to me.

I've just tested with Teams, set a delay to 3sec, activated screenshot via global hotkey, hovered over some item to get a tooltip and the tooltip was on the screenshot. You say that this doesn't work for you in chrome? But does in other applications?

[2021-01-29 10:31] gimplyworxs opened #565 "Translation for annotation icons missing"
Hi,
The hints for the editing icons like "arrow" or "blur" on the left hand side
are not translated. Is there a way to have them translated?
![-ksnip-Ungespeichert_074](https://user-images.githubusercontent.com/59622701/106264109-89320200-6225-11eb-89b3-1b5c4ea7cbfd.png)

[2021-01-29 10:38] vlad88sv commented on #564
Yes! I just tried in Nautilus and it does work when using a delay
![image](https://user-images.githubusercontent.com/91489/106264103-da70d000-61ea-11eb-95df-3d2a8aa7eafa.png)

Here's how the experience is:
1. White cursor - all good
2. Press Alt+Shift+R -> cursor changes to black color -> can't trigger tooltip -> delay of 6s passes -> ksnip captures screenshot
3. It's the same if I do trigger the

[2021-01-29 10:53] DamirPorobic commented on #564
Strange, need to look into that but it won't probably be for next patch and minor version.

[2021-01-29 11:05] vlad88sv commented on #564
Thank you! I appreciate that you will look into it, it's been like this since forever so if it gets fixed anytime in the future that would be awesome.

[2021-01-30 01:40] ljubadr commented on #377
[Monosnap](https://monosnap.com/) has a dedicated button for drag & drop on the far right side. Maybe adding similar button next to `Copy` or something could work? Currently I'm using the copy option as a replacement, but it's useful to have the drag & drop option as well

![image](https://user-images.githubusercontent.com/13367907/106343098-bc01e780-6271-11eb-9930-c1a96a5d0c57.png)

[2021-01-30 08:13] DamirPorobic commented on #377
Is it a button or a region?
In the toolbar where copy is are usually buttons, it might be confusing to have it there, users might be tempted to click on it. On the other hand, we have there the delay picker where you enter something.
Another option could somewhere on the left site, below the settings, close to the zoom picker?

Yet another option could be using different mouse buttons, like mouse

[2021-01-30 10:57] InfoLibre commented on #398
Shutter cantake a capture of a scrolling webpage : Utilisez ce PPA : https://www.linuxuprising.com/2020/10/shutter-screenshot-tool-ppa-updated-for.html

[2021-01-30 18:52] ljubadr commented on #377
It's a button, only downside to having it on the right side was that you could not click on it when it's full screen :smile:

Thank you for taking this feature into consideration! Most of the time copy is enough, but sometimes drag & drop is really useful.

I think that button close to the zoom would work nicely. Add a `D` shortcut for it and it's perfect :smiley:

Or maybe it's possible to add sm

[2021-01-30 18:55] DamirPorobic commented on #377
In the tab might be again confusing because you can drag the tab too. It's not an easy task to find the right solution.

We have some time to think more about this feature, I will probably not work on it before I finish `1.8.1` which has still 2-3 open issues.

[2021-01-30 18:58] DamirPorobic commented on #398
Thanks for the hint @InfoLibre, I'll have a look into it.

[2021-01-30 18:59] amenk commented on #546
Which option is easier / better?

[2021-01-30 19:03] DamirPorobic commented on #546
No clue, both is new territory for me. We use cmake and Qt so both might work. For cmake there is a mailing list where you can usually get feedback from people that know the stuff. Qt usually has good documentation but it might be harder to reach people of knowledge. I think I would check out for what can I find any kind of example or tutorial and give it a try.

[2021-01-30 19:22] amenk commented on #546
Let my try cpack

[2021-01-31 09:00] data-man opened #567 "Installing to local/bin"
My script:
[code]
But KDE's Spectacle also depends on `kimageannotator` and `kcolorpicker` with headers in `/usr/include`.

[2021-01-31 09:08] DamirPorobic commented on #567
I don't the get the question? As long as there is no `kImageAnnotator` and `kColorPicker` major release they should be backward compatible with Spectacle (except Spectacle expects a specific version, not sure about that).

You can either install just knsip and it uses the same dependencies as Spectacle or you replace spectacles ones with the latest. Thought I would create some backups of the overw

[2021-01-31 09:14] data-man commented on #567
I want to use ksnip-git. :smile:
Currently I disabled Spectacle in `pacman.conf`.

I prefer to compile ksnip myself.

[2021-01-31 09:16] DamirPorobic commented on #567
Well, in that case I don't get the question :smile:

[2021-01-31 09:19] data-man commented on #567
Question: how to use ksnip-git with Spectacle, installed by package manager.

[2021-01-31 09:30] amenk commented on #546
I [tried cpack](https://github.com/ksnip/ksnip/pull/566) on travis, but there is no way to debug this properly with the current delay.

While waiting for travis I [tried a GitHub actions setup](https://github.com/amenk/ksnip/actions) but it's also not trivial to convert to build to GitHub actions. There is a [nice workaround](https://github.com/mxschmitt/action-tmate) to debug with SSH on the GitH

[2021-01-31 09:31] DamirPorobic commented on #567
Have you tried installing `Spectacle` and then `ksnip` without installing `kImageAnnotator` and `kColorPicker` again? What do you get?

As said above, you could also try overwriting the `kImageAnnotator` and `kColorPicker` version installed by Spectacle with the latest from `ksnip` thought I would keep a backup.

I didn't have this scenario yet myself, I'm using OpenSUSE and my Spectacle version d

[2021-01-31 09:39] DamirPorobic commented on #546
I don't have Windows anymore, would need to buy it and install it somewhere first. @fnkabit is also a Linux user as far as I know.
I can try to get my hands on a digital windows version and set it up in a VM but won't probably have time for it today, best I could do is during the week.

Have you tried running the Windows script locally? The CI is also set up from scratch for every run, there shoul

[2021-01-31 09:40] data-man commented on #567
Sure.

Unable to find any translation files for kImageAnnotator.

[2021-01-31 09:43] amenk commented on #546
The funny part is that I am asking for MSI packages  without having windows :) I am a Linux user myself, the MSI is for our colleagues. But I probably can get hold of a Windows machine or VM.

Still I think it needs quite some preinstalled tools, such as nmake, bash and so on..

[2021-01-31 09:44] amenk commented on #546
Actually it is possible to get trial Windows VMs for (Browser) development here: https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/

[2021-01-31 09:46] DamirPorobic commented on #567
This means it found `kImageAnnotator` correctly, only the translation files are not found. What version of `ksnip` are you using?
Next you could try install latest versions of `kImageAnnotator` and `kColorPicker` where you usually install them and remove the ones installed by `Spectacle` which should be able to find the new ones or if it doesn't it will still be able to run. But again, make yourse

[2021-01-31 09:48] data-man commented on #567
From git.

Can you add `kImageAnnotator` and `kColorPicker` as git submodules and link them statically?

[2021-01-31 09:51] DamirPorobic commented on #567
Not a simple task, there are a lot of Packages for different OS that would need to be updated. Probably something we should do in the future but not something I can do just like that.

[2021-01-31 09:52] DamirPorobic commented on #546
Funny indeed, two Linux users try setup MSI packages :)

nmake comes with Visual Studio I think, I can't remember installing it. For the bash I have used the bash that comes installed with Git. I think when you install Visual Studio Community version, Git and Cmake you should have all the tools.

[2021-01-31 09:53] DamirPorobic commented on #546
Chocolatey might work if you can install VS via it.

[2021-01-31 09:54] data-man commented on #567
Yeah, I don't want overwrite system libs.

It would be nice! :+1:

[2021-01-31 10:44] amenk commented on #546
Yep, looks like .. trying to setup a [travis like environment now locally](https://stackoverflow.com/questions/65977739/how-to-simulate-a-travis-ci-windows-build-locally/65977864#65977864)

[2021-01-31 16:33] amenk opened #568 "CI improvement suggestions"
I have some suggestions

* Build ci/scripts should delete the build folder (rm -rf build/) before building, while this has no effect on the always-fresh CI setup, it helps to debug the ci scripts locally
* Use `bash -e` so builds stop if there is an error. For example also if the openssl download fails. The builds will be more reproducible and I guess it's better to stop the build instead of deliv

[2021-01-31 16:57] DamirPorobic commented on #568
1. The CI scripts have so far not been intended to be used locally and I think I never have used it but sure, I see no problem in deleting a non existing directory. Would rmdir thrown an error when you try to delete a non existing directory? Might be a clash with your second point. What troubleshooting does it simplify, just out of curiosity?
2. Good point, that would be nice.
3. Sure, there was n

[2021-01-31 20:06] amenk commented on #546
Basically working in #569 locally, let's see what's the next travis result and if it can install dotnet3.5/wixtoolkit
I am attaching the current MSI wrapped in a ZIP because github does not allow .MSI files.

Happy testing.

[ksnip Screenshot Tool-1.9.0-win32.msi.zip](https://github.com/ksnip/ksnip/files/5900551/ksnip.Screenshot.Tool-1.9.0-win32.msi.zip)

[2021-01-31 20:09] amenk commented on #155
Maybe solvable by #546 because MSI packages just display normal install dialogs when double clicked, but have the advantage to be installed via scripts / WSUS.

[2021-01-31 20:09] DamirPorobic commented on #546
Nice, I'll have a look tomorrow at work :smiley:

[2021-01-31 20:11] amenk commented on #568
1. Troubleshooting = running the build scripts again and again currently leads to errors / ending up in wrong directories
2. -
3. Just trying that in #569

[2021-01-31 21:33] amenk commented on #546
[x] [wixtoolset installation works on travis ](https://travis-ci.org/github/ksnip/ksnip/jobs/756972601#L67)

Now need to move chocolatey-cpack out of the way again... -> new build pending

[ ] when the MSI is generated in build/* it has to be added to the upload.sh
[ ] OpenSSL libs download needs to be fixed, and probably they have to be added also in the install() call?

[2021-01-31 21:53] amenk commented on #564
@vlad88sv is this a specific website where you try to capture the screen? google maps? which exact URL? which chrome version?
How did you install ksnip? I am using the .deb and Google Maps tooltips (but they look different) appear during the delay time and can be captured.

[2021-02-01 06:34] amenk commented on #546
MSI was successfully generated on Travis https://travis-ci.org/github/ksnip/ksnip/jobs/756981474#L1074

[2021-02-01 07:22] DamirPorobic commented on #546
That's great news 😄

Uploading should be fairly simple with the upload script I believe, then it can be tested in more detail.

[2021-02-01 10:12] DamirPorobic commented on #546
Should I have a look at the PR and merge it into master or do you want to test further here?

[2021-02-01 10:24] amenk commented on #546
@DamirPorobic you can review, thanks

[2021-02-01 11:05] DamirPorobic commented on #546
Just did a quick check with the msi package you have provided:
1. I get this error:
![image](https://user-images.githubusercontent.com/12796236/106450593-a95ffc00-6485-11eb-9162-5f1b8dc945a4.png)
2. It asks if you want to install a package from a unknown publisher, maybe we should look into that to become a known publisher

[2021-02-01 11:44] amenk commented on #546
1. Looks like fixup_bundle does not include all files?
2. Probably you would need to purchase a code sign certificate ( let's encrypt does not work ).

[2021-02-01 11:50] DamirPorobic commented on #546
Yes, looks like something is missing there.

Regarding the certificate, that's probably the right way to go. Any idea how much this would cost annually?
Need to check if we can cover it with our donations and sponsoring.

[2021-02-01 12:02] DamirPorobic commented on #546
Something like this https://www.exemsi.com/documentation/sign-your-msi/?

[2021-02-01 12:10] DamirPorobic commented on #546
Oh boy, just had a quick look, it looks like 269€/year, together with our other costs that would be more then we get in a year.

[2021-02-01 16:53] amenk commented on #546
There seem to be also cheaper options, around 70€ per year, but it's still a waste.
We are checking if the signature is needed for centralized deploys...

Maybe you could write to https://about.signpath.io/product/pricing "For special inquiries or more information, please contact us." and ask them to support an FOSS project  .. or to Comodo ...

[2021-02-01 16:57] amenk commented on #546
Maybe this is an option: http://www.anse.de/programming/code-signing-for-open-source-executable no clue if they mean this package or it needs additional hardware ... https://shop.certum.eu/open-source-code-signing-code.html

[2021-02-01 19:00] DamirPorobic commented on #546
I wrote to those guys this morning, no feedback yet. I'll check with some others too regarding FOSS support.

[2021-02-01 19:06] DamirPorobic commented on #546
Could it be that we are missing the this here https://stackoverflow.com/questions/31920698/how-to-deploy-qwindowsintegrationplugin-with-cmake regarding the error message?

I think I didn't see a platform directory in the install dir.

[2021-02-01 19:09] DamirPorobic commented on #546
This might also be a hint
![image](https://user-images.githubusercontent.com/12796236/106506018-63c52280-64c9-11eb-8636-1b66642cbab1.png)

[2021-02-01 19:52] vlad88sv commented on #564
I'm trying to find more about this.

For example this URL works for me: https://developers.google.com/maps/documentation/javascript/examples/marker-simple

On the other hand I just noticed (and remembered this bug) because I was trying to screenshot VSCode tooltip with no avail. As soon as I trigger the Alt+Shift+R combination the tooltip can't be triggered anymore until after the capture is compl

[2021-02-02 07:55] DamirPorobic commented on #546
Just had a test with the installed package, this is how it looked initially:
![image](https://user-images.githubusercontent.com/12796236/106568881-2c3f9000-6534-11eb-9f61-0a3fb412ee49.png)

And it was not starting, after copying all missing files that are in the old zip I get this and ksnip starts without error message:
![image](https://user-images.githubusercontent.com/12796236/106569070-65780000

[2021-02-03 12:09] fabianski7 opened #570 "Ksnip + proxy with torsocks"
[torsocks](https://gitweb.torproject.org/torsocks.git/) is a wrapper that allows using the tor proxy in most programs.

It's as simple as that (considering that the torso service is already running)
`ksnip torsocks`

However, ksnip does not seem to be compatible. When sending an image to imgur this is what happens:
[code]

imgur apparently does not restrict access to the tor network IPs. I did the

[2021-02-03 12:27] DamirPorobic commented on #570
`ksnip torsocks` probably doesn work, I believe ksnip is going to try to open a file called torsocks. You start ti with spectacle the same?

[2021-02-03 12:57] fabianski7 commented on #570
hahaha
I had to use the translator in this sentence and he reversed the order of the words. sorry

[2021-02-04 06:23] venclj opened #571 "Save as button does not work"
Save as function is good to store an image in different location. This does not work for me, simply does nothing expected if I press keyboard shortcut or select that option in File menu. Only thing happens - the image tab turns highlighted as unsaved.

[2021-02-04 07:21] DamirPorobic commented on #571
I don't think that I understand you problem? The Save button is just "Save", it saves changes to an existing image or if the image was never saved before it saves it to the default location with the default name (can both be changed in settings). If you want a "Save As" then you have it as an option under the tab context menu or under the file menu.

[2021-02-04 08:10] venclj opened #572 "New from clipboard feature"
It would be possible to use such straightforward anitation tool aside with other image apps.

[2021-02-04 08:16] venclj commented on #571
Let's have a look at File menu. There is "Save as" option with shortcut Ctrl+Shift+S. You can use the shortcut or click the option.

None of them works as I expect. I suppose it to open "Save as" dialog letting me choose target location and save it. Instead of this the existing opened file is marked "*" (not saved).

(I use Ksnip on Xubuntu 20.04)

[2021-02-04 08:17] DamirPorobic commented on #572
Seems to me you have here two questions?

New from clipboard feature -> Is already supported, you can paste an image or path to image from clipboard or drag and drop an image into ksnip and it will open it as tab. If you paste an image with `CTRL+SHIFT+V` it will be pasted as embedded image.

It would be possible to use such straightforward anitation tool aside with other image apps. -> kImageAnno

[2021-02-04 08:24] DamirPorobic commented on #571
Just tested with latest version under windows, seems to be working as expected, the save as dialog opens and I can select where to save. Will test it on linux tonight.

[2021-02-04 09:24] venclj commented on #571
Thank you. IMO it could be using some component not present in Xubuntu (e.x. something from Gnome or KDE)

[2021-02-04 09:25] DamirPorobic commented on #571
One more question, how did you install ksnip? Was it via snap?

[2021-02-04 09:51] venclj commented on #572
Is great these features are implemented but in some cases it does not work like that. On fresh started Ksnip it worked as you wrote. When I will be able to reproduce the steps I will report them.

I am sorry, the app works different than I am used to from Gimp, Greenshot and other apps. I will learn Ksnip because it is the best screenshot app I know on Linux.

[2021-02-04 10:14] DamirPorobic commented on #572
Sorry to hear that, in what way does ksnip behave different then other applications?

The behavior that I wrote above should be always like that, independent of fresh start or not.

[2021-02-04 10:39] venclj commented on #572
The difference is in the UX and shortcuts.

- Ctrl+V pastes **inside** the opened document, folder etc., while Ctrl+Shift+V shifts the base meaning to create new document from clipboard (like Gimp does).
- Ctrl+C copies single objects or groups of objects from a document (files from folder, etc.). Shift changes this base behavior slightly. Ctrl+Shift+C copies visible parts of a picture in Gimp. It

[2021-02-04 10:55] DamirPorobic commented on #572
Maybe we should share this discussion with other users, maybe it's worth changing existing shortcuts. But also, the focus in ksnip is a bit different then in gimp I would say. In ksnip you primary add new images and quickly edit them and in gimp you rather edit an image for a longer time so the primary operations, which have shorter shortcuts, are different in both tools.

[2021-02-04 10:55] #572 closed

[2021-02-04 13:53] venclj commented on #571
Yes, it is snap installation.

[2021-02-04 13:55] DamirPorobic commented on #571
Snap behaves sometimes differently. We had some issues with dialogs under snap. You can double check with the AppImage if you want.

I have to check if you we are using the native dialog there.

@LyzardKing did you come across such an issue?

[2021-02-04 16:08] LyzardKing commented on #571
No, I've never encountered this issue.
@venclj do you have xdg-desktop-portal installed?

[2021-02-04 20:59] DamirPorobic commented on #571
Just had a look, we use the native dialog here. At least with latest continuous build.

[2021-02-04 21:30] LyzardKing commented on #571
In the snap we switched to the "included" qt dialog, not the native ones..
In this case the native one would be the one in xdg-desktop-portal-gtk (for xubuntu)
but the snap should use the included qt ones...
@venclj is the snap up to date?

[2021-02-04 21:36] DamirPorobic commented on #571
Yes, you're right, we set there the `DontUseNativeDialog` flag.

[2021-02-06 10:15] ww7 commented on #358
same issue on macOS

[2021-02-07 09:31] fsevenm opened #574 "Text Pointer and Text Arrow don't inherit Text Font in Settings"
I changed the font in settings but unfortunately it only affects Text, not Text Pointer nor Text Arrow. My expectation was when chaning font in settings, it will affects all Text tools.
![image](https://user-images.githubusercontent.com/29963765/107142391-922f7b80-6969-11eb-820d-8f0c14d900d3.png)

[2021-02-07 15:14] DamirPorobic commented on #272
Done.

[2021-02-07 15:14] #272 closed

[2021-02-08 07:28] fnkabit commented on #551
@DamirPorobic
Should we place a default window size and an option to disable automatically resizing after capture ?

Once the first capture is made we can switch to this 'default size' and when subsequent captures are made, they will not change the window size.
This means that if, after the first capture, the user resizes the window, the next captures will not resize to the default size; the defau

[2021-02-08 07:37] DamirPorobic commented on #551
@fnkabit yeah, I had something like that in mind.

Check if you can extract the extract the resize logic in a separate class. You can pass the an interface that it implemented by MainWindow into that class that allow you to resize. Don't forget tests for that class.

[2021-02-09 05:23] zbyna opened #575 "Can not run ksnip-1.8.0-x86_64.AppImage on Linux Mint 17.3"
[code]
Appimage ```Version 1.7.3``` runs ```without issues```.

It did not help to unpack appimage and copy up-to-date libfreetype6 version to  ```appimage's usr/lib```   [see](https://stackoverflow.com/questions/56039011/how-to-solve-a-symbol-look-up-error-on-qt-installation-on-ubuntu)
Seems like an issue described  [here](https://forums.opensuse.org/showthread.php/525135-Black-screen-after-a-hug

[2021-02-09 07:08] DamirPorobic commented on #575
What I find strange is this:
`Unknown platform, using default X11 Image Grabber.`

Ksnip should be able to detect that you are running KDE but it looks like it doesn't in your case. Could you also try continuous ' `1.9.0` build, just in case but I don't think that we have a specific fix for that in there.

[2021-02-09 08:26] DamirPorobic commented on #546
Still haven't had time to resolve this but I've been looking around for potential fixes, this might be a good starting point https://blog.nathanosman.com/2017/11/24/using-windeployqt-with-cpack.html

[2021-02-09 18:04] zbyna commented on #575
```1.9.0-continuous-``` the same error:
[code]
version ```1.7.3``` works well:
![](https://i.imgur.com/9ZlfKPh.png)

[2021-02-09 20:21] zbyna commented on #575
It seems I found workaround:
1. I used some sort of generic AppRun, which is produced by [pkg2appimage](https://github.com/AppImage/pkg2appimagel), it redefines place where to add additional libraries :
[AppRun.zip](https://github.com/ksnip/ksnip/files/5953955/AppRun.zip)
[code]
   - it helps me when I was fighting with vscode appimage  :slightly_smiling_face: too

2. Downloaded and extracted thes

[2021-02-09 20:46] DamirPorobic commented on #575
Oh boy, that's a lot of stuff you're doing there. For me the appImage runs normally and I'm using KDE too:
![image](https://user-images.githubusercontent.com/12796236/107425706-9c937600-6b1f-11eb-9595-75466ea9d88a.png)

Also on Mint just recently I was debugging something and used the AppImage several times without issue. I don't think that there is something general wrong with the AppImage, the `

[2021-02-09 21:46] zbyna commented on #575
The System is based on Linux Mint 17.3 (Ubuntu 14.04 package base )  with custom kernel and KDE 4 :
[code]
I agree that the appimage works generally well.  On my configuration is not possible to install higher libfreetype6 and appimage does not see additional libraries added inside it. That is why I modified AppRun script. The situations for other extra libraries is in my opinion the same - not po

[2021-02-11 15:59] raphaelh commented on #550
First of all, thanks for 1.8.0 which is a nice update :smile:

Usually zooming works with Ctrl + Mouse Wheel, for example in Firefox or Chrome

In ksnip 1.8.0 it works with only the Mouse Wheel, which is problematic I think, because it is normally used to scroll up or down the vertical scrollbar

Also, a quick way to get back to 100% zoom level would be nice. In Firefox, it can be done by clicking

[2021-02-11 16:02] DamirPorobic commented on #550
@raphaelh check out the continuous build of `1.9.0`, we have now buttons and keyboard shortcuts for zooming.

[2021-02-11 16:04] raphaelh opened #577 "Rotate left / right 90°"
It would be nice to be able to quickly rotate left or right by 90°
(for 180° rotate left or right twice is fine)

Currently I take the screenshot with ksnip, then save the image to disk and open it in an editor to rotate it

[2021-02-11 16:14] raphaelh commented on #550
Thanks @DamirPorobic for your quick reply!

Just tried the continuous build, the buttons here are nice!
![image](https://user-images.githubusercontent.com/542500/107663772-09c41a00-6c8c-11eb-8c2e-7a0c80661877.png)

I've found Ctrl + Minus works to zoom out
Ctrl + Plus doesn't seem to work to zoom in
and Ctrl + 0 doesn't work to get back to 100%

Do you have a documentation for the shortcuts?

Also

[2021-02-12 06:51] DamirPorobic commented on #550
Good points you have there. The `CTRL+0` Shortcut is not implemented as far as I know. I'll see what I can do about that stuff.

We have no documentation, I think I would prefer a Tooltip that shows the shortcuts. I'll look into that too.

[2021-02-12 21:09] DamirPorobic commented on #577
Forgot to link the issue https://github.com/ksnip/kImageAnnotator/issues/199

[2021-02-12 21:56] DamirPorobic commented on #550
@raphaelh I have addressed your issues in https://github.com/ksnip/kImageAnnotator/issues/210 and https://github.com/ksnip/kImageAnnotator/issues/209.

I was not able to reproduce your issue that CTRL+Plus doesn't work, it works for me, tested with the plus on the numpad and the other, worked with both. If it still persists maybe you could open a new bug with more details on your OS and environmen

[2021-02-14 03:08] gerroon opened #578 "FR: UIpload to XBackBone (self hosted)"
Hi

It would be very nice if this server app is supported as an upload site. This app meant to serve to ShareX originally but works with other stuff too.

https://github.com/SergiX44/XBackBone

[2021-02-14 18:32] DamirPorobic commented on #578
Sure, can be done but currently I'm overbooked with features already for the next release. If anyone wants to take a look at it, I can assist.

[2021-02-14 20:07] DamirPorobic opened #579 "Flatpak and snap release 1.8.1"
@LyzardKing I think I need your help with the latest patch release.
1. Can you checkout ksnip tag `1.8.1` and build the snap manually? The snap build only builds for master branch and there we are already on `1.9.0`.
2. Something seems to be wrong with the flatpak build, on flathub we are still on `1.7.3`. I have updated this one https://github.com/flathub/org.ksnip.ksnip here but the change seems

[2021-02-14 21:44] tb75252 opened #580 "Dependency Is Not Satisfiable"
I am using MX Linux 18.3 (64-bit).  I am trying to install ksnip 1.8.1 (ksnip-1.8.1.deb).

I am getting the following error message:

**_Dependency is not satisfiable: libqt5core5a (>= 5.9.0~beta)_**

[2021-02-14 21:57] LyzardKing commented on #579
1. I can build it, test it locally, but you have to push it since you have the snapcraft account credentials. I could send the snap to you. Locally I can only build the amd64 version.. for the others I could probably use remote build (https://snapcraft.io/docs/remote-build). I might not have much time to work on this, so if you want to build them you can look at the remote build tool.
2. the flatp

[2021-02-14 22:00] DamirPorobic commented on #579
We always build only the amd64, version. Just send it over and I‘ll upload it.

Try checking out the v1.8.1 git tag. It should be on the last commit of the release.

________________________________
From: Galileo Sartor <notifications@github.com>
Sent: Sunday, February 14, 2021 10:58:08 PM
To: ksnip/ksnip <ksnip@noreply.github.com>
Cc: Damir Porobić <damir_porobic@live.com>; Author <author@noreply

[2021-02-14 22:15] LyzardKing commented on #579
fatal: Remote branch 1.8.1 not found in upstream origin
I checked in the github website.. it's not there

[2021-02-14 22:17] LyzardKing commented on #579
Actually it exists as v18.1
I forgot the "v"

[2021-02-14 22:18] DamirPorobic commented on #579
Exactly, the v is part of the tag.

________________________________
From: Galileo Sartor <notifications@github.com>
Sent: Sunday, February 14, 2021 11:17:22 PM
To: ksnip/ksnip <ksnip@noreply.github.com>
Cc: Damir Porobić <damir_porobic@live.com>; Author <author@noreply.github.com>
Subject: Re: [ksnip/ksnip] Flatpak and snap release 1.8.1 (#579)

Actually it exists as v18.1
I forgot the "v"

—
You

[2021-02-14 22:23] LyzardKing commented on #579
Ok. the snap is built. Should I link it here or via mail?

[2021-02-14 22:24] DamirPorobic commented on #579
What ever suits you better or works.

________________________________
From: Galileo Sartor <notifications@github.com>
Sent: Sunday, February 14, 2021 11:23:42 PM
To: ksnip/ksnip <ksnip@noreply.github.com>
Cc: Damir Porobić <damir_porobic@live.com>; Author <author@noreply.github.com>
Subject: Re: [ksnip/ksnip] Flatpak and snap release 1.8.1 (#579)

Ok. the snap is built. Should I link it here or v

[2021-02-14 22:29] LyzardKing commented on #579
https://we.tl/t-sW5311hHkK
This is a link to the .snap

[2021-02-14 22:38] DamirPorobic commented on #579
Awesome, thanks!

________________________________
From: Galileo Sartor <notifications@github.com>
Sent: Sunday, February 14, 2021 11:29:27 PM
To: ksnip/ksnip <ksnip@noreply.github.com>
Cc: Damir Porobić <damir_porobic@live.com>; Author <author@noreply.github.com>
Subject: Re: [ksnip/ksnip] Flatpak and snap release 1.8.1 (#579)

https://we.tl/t-sW5311hHkK
This is a link to the .snap

—
You are rec

[2021-02-15 07:01] nemonein commented on #196
It's impossible to upload the package to the Launchpad PPA, because ksnip is refer to kImageAnnotator.
To make the story short, there's no kImageAnnotaor in Ubuntu repository.
Well, I could find the package on [Ubuntu repo](https://packages.ubuntu.com/search?keywords=libkimageannotator-common), but there are 2 issues.

1. It is supported from Ubuntu 20.10.
2. However, the version of the kImageAnno

[2021-02-15 07:28] DamirPorobic commented on #196
If someone can setup the PPA (ksnip, kimageannotator and kcolorpicker), I can keep them up to date on every release. But as stated above, I'm not a packager, I have no clue how to setup a PPA and currently no time to learn it.

[2021-02-15 07:32] DamirPorobic commented on #579
Strange, the flathub shows now version `1.8.0` with changelog as released yesterday, it's two months old.

![image](https://user-images.githubusercontent.com/12796236/107917455-42077900-6f68-11eb-8cf7-07a28bc1f45d.png)

[2021-02-15 07:33] DamirPorobic commented on #580
Installing older versions worked without this error?

[2021-02-15 09:44] LyzardKing commented on #579
![image](https://user-images.githubusercontent.com/7113541/107929847-8439b600-6f7a-11eb-8214-b8f64b16e985.png)

The version in the installed flatpak is correct. There might have been an issue with the appdata file?
I'm not sure though

[2021-02-15 09:50] DamirPorobic commented on #579
From where it's pulling this version?

From this file: https://github.com/ksnip/ksnip/blob/v1.8.1/desktop/org.ksnip.ksnip.appdata.xml

Or this one: https://github.com/flathub/org.ksnip.ksnip/blob/master/org.ksnip.ksnip.yaml

Can't see any specific version, hmm...

[2021-02-15 10:03] DamirPorobic commented on #577
I'm closing this issue as being duplicate.

[2021-02-15 10:03] #577 closed

[2021-02-15 10:07] LyzardKing commented on #579
The flatpak gets the version from the appdata.xml file, so it should come from there..

[2021-02-15 10:12] DamirPorobic commented on #579
Oh, it's probably looking at the date:
![image](https://user-images.githubusercontent.com/12796236/107933080-96b5ee80-6f7e-11eb-87da-7d829b31a7b7.png)

[2021-02-15 10:14] LyzardKing commented on #579
Yes, I think that's the issue.

[2021-02-15 10:33] raphaelh commented on #550
Thanks for the update! I've tested the latest continuous build
I know why it doesn't work

This is my keyboard :
![image](https://user-images.githubusercontent.com/542500/107935162-4e4c0000-6f81-11eb-98ee-020849b7d3a1.png)

With Firefox it works with only Ctrl + 0 and Ctrl + Plus

[2021-02-15 11:16] DamirPorobic commented on #550
I think I can fix it for `CTRL+Plus` and` CTRL+Minus` but not for `CTRL+0` as the later is not a known standard shortcut combination in Qt.

[2021-02-15 12:18] nemonein commented on #196
@DamirPorobic
If you can provide `debian` files for kimageannotator and kcolorpicker(just like you do for ksnip), I could try to upload them to my [PPA](https://launchpad.net/~nemonein).
Because I'm not either a developer or a packager, I could not create debian files, but I have knowledge to run PPAs.

[2021-02-15 12:30] DamirPorobic commented on #196
@nemonein in the ksnip deb package (the one on github) the kimageannotator and kcolorpicker is already built into ksnip as static library.

[2021-02-15 12:35] nemonein commented on #196
@DamirPorobic
What I meant is, I need debian files for [kimageannotator](https://github.com/ksnip/kImageAnnotator) and [kcolorpicker](https://github.com/ksnip/kColorPicker).
As I told you earlier, kimageannotaor is needed to make deb package in Launchpad PPA.
And to make/upload kimageannotator package to PPA, debian files are needed.

[2021-02-15 15:44] tb75252 commented on #580
Yes, version 1.7.1 works fine.--
Tiziano

    On Monday, February 15, 2021, 1:33:31 AM CST, Damir Porobić <notifications@github.com> wrote:

Installing older versions worked without this error?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-02-15 16:44] raphaelh commented on #550
This is in fact a hard problem : https://bugreports.qt.io/browse/QTBUG-13486

I don't know if there is a generic solution in Qt?

Also related : If the letter chosen as a shortcut in a language becomes another letter when the word is translated to another language

https://bugreports.qt.io/browse/QTBUG-5314

[2021-02-15 19:27] Aikatsui opened #582 "[Linux] Enhance to display about unsaved status on shutdown confirmation window"
Eg: texteditor etc apps status shows on power off confirmation menu. by the way need for snap ;)

![Screenshot from 2021-02-15 23-58-22](https://user-images.githubusercontent.com/63988538/107986389-85142b80-6ffe-11eb-9a48-ee121c298f84.png)

ksnip 1.9.0 | ubuntu 20.04.02

[2021-02-15 19:32] DamirPorobic commented on #550
@raphaelh I have added a fix that should fix the `CTRL++`. For CTRL+0 I don't see a simple solution, I would need to write our own KeySequence handling which might be an overkill at the moment.

We are also spamming the this issue which is a different thing :)

[2021-02-15 19:34] DamirPorobic commented on #196
That is even more work I would say because we have no packaging pipeline in place for those two dependencies, we would nee to setup this first.

[2021-02-15 19:35] DamirPorobic commented on #580
hmm, `1.7.1` is kind of an old version. Have you tried 1.8.0 which was released at the begin of December?

[2021-02-15 19:38] DamirPorobic commented on #582
I think I have disabled this behavior on purpose xD

I can add a feature toggle for it.

You mean snap for `1.8.1`?

[2021-02-15 19:45] DamirPorobic commented on #579
Thanks @LyzardKing snap is uploaded

[2021-02-15 19:45] #579 closed

[2021-02-15 20:20] Aikatsui commented on #582
No, i'm using 1.9.0 I mean, expect this effect with snap app too not only for debs etc.

[2021-02-15 20:53] DamirPorobic commented on #582
Yes sure, the code is always the same, there is no feature difference between AppImage, Snap, Flatpak and so on, they should behave all the same.

[2021-02-15 23:03] tb75252 commented on #580
I tried installing ksnip 1.8.1 on a system with MX Linux 19.2 and everything went fine.  So there must be some problem with MX Linux 18.3.  Some dependency file missing, I guess...
BTW I was wrong on the version number installed on MX Linux 18.3:  It is v. 1.6.0 that I was able to install (the package for that version is supplied by the MX Linux people...).  More recent versions than 1.6.0 refuse

[2021-02-16 01:58] nemonein commented on #196
Today, KDE Neon has upgraded kimageannotator to 0.4.0 and kcolorpicker to 0.1.5.
I could use their debian sources files to make PPA.
I'll try and if it's successful, let you know.

[2021-02-16 15:49] nate-duke commented on #559
I have the same problem with ksnip > 1.7.3 on Debian 10 on a non-chromebook system. Happy to contribute any diagnostics you may need.

[2021-02-16 16:02] DamirPorobic commented on #559
@nate-duke how did you install it?

[2021-02-16 16:59] nate-duke commented on #559
just `dpkg -i ${FILE}` from the release files here.

[2021-02-16 21:04] DamirPorobic commented on #559
I see, you've installed it via .deb package.
The deb package seems to have some problems, we have another bug for it https://github.com/ksnip/ksnip/issues/580

[2021-02-17 12:16] nate-duke commented on #559
This feels different than that (I've no idea what MX linux is but i'm assuming it's Debian based) especially since i have no problems with dependency solving.

I may try compiling from source and see how that goes. It's very strange that the 1.7.3 version works fine with wayland on gnome but the 1.8 version does not.

[2021-02-17 12:49] DamirPorobic commented on #559
I don't think that it's the same issue, it just looks like the deb package is having multiple problems.

Sure, you can try to build from source.

[2021-02-18 08:58] nemonein commented on #196
I opened a PPA for ksnip, kImageAnnotator, and kColorPicker.
https://launchpad.net/~nemonein/+archive/ubuntu/ksnip

Currently, I made packages only for Ubuntu 20.04.

**For KDE Neon Users:**
If you install ksnip(in this PPA), kde-spectacle is removed.
However, you can install it again by 'sudo apt install kde-spectacle', then it will be installed along with libkimageannotator0.4.0-dummy package.
T

[2021-02-18 09:21] MurzNN commented on #196
Thanks, this is super! Can you please add support for Ubuntu 20.10 too, if it is not so hard?

[2021-02-18 10:14] iceway opened #583 "Can't wrap long text line when I resize Text box area."
## Issue

I input some text contents in a Text box in the editor, then I want to resize the text box to narrower, but it do not wrap text line, just overlap characters.

## Screenshot

https://user-images.githubusercontent.com/107896/108341709-e4e41f80-7214-11eb-9959-c37c70701a86.mp4

## Expect result

![ksnip_20210218-180657](https://user-images.githubusercontent.com/107896/108341752-f75e5900-721

[2021-02-18 12:40] nemonein commented on #196
@MurzNN
Done for Ubuntu 20.10.

However, please don't use the PPA for now. (for both 20.04 and 20.10)
There's an error for the package. It might run, but the files are installed to the wrong directories.

I'll find a way to fix this.

[2021-02-18 13:10] nemonein opened #584 "Something wrong with debian build."
Hello. I'm trying to open a ksnip PPA for Ubuntu 20.04/10.
It's almost there, but I have found some issues.

You can check the deb file on the PPA [here](https://launchpad.net/~nemonein/+archive/ubuntu/ksnip/+files/ksnip_1.8.1-0build7~ubuntu20.04_amd64.deb).
Please download the file and open it with the archive tool, and take a look at the directory structure of data.tar.xz file.

That should be l

[2021-02-18 20:06] DamirPorobic commented on #551
@pkoerner81929 can you have a look at the functionality that @fnkabit has implemented?

[2021-02-18 20:06] #551 closed

[2021-02-19 04:03] nemonein commented on #584
I think I've found what causes this.
I created the `debian` files from the source and built with it.

[code]

Then, as a result, `debian/rules` has codes like this.
[code]

I have no idea about what's wrong with the codes, so I decided to find another rules for ksnip, then found the debin files on [Ubuntu Hirsute repository](https://packages.ubuntu.com/hirsute/ksnip).

Here the `rules` file from U

[2021-02-19 04:05] nemonein commented on #196
It's solved.
You can use it.

If there's anything wrong, please let me know.
(However, I can't guarantee that it will be solved. HA HA HA!)

[2021-02-20 08:51] nemonein commented on #196
All dependency issues (by KDE Neon) were solved.
KDE neon team released newer version(build) of kimageannotator, ksnip as well as kde-spectacle.
I've update the ppa, so I think there'll be no problem to use the PPA.

[2021-02-20 08:54] DamirPorobic commented on #196
Glad to hear that it's working now. Can this issue be closed too https://github.com/ksnip/ksnip/issues/584?

[2021-02-20 09:01] nemonein commented on #584
Well, I don't know anything about the coding.
I hope you check the debian code(`debian/rules`), whether it works good on ubuntu or not.

[2021-02-20 09:05] DamirPorobic commented on #584
Unfortunately I don't know much about it too so we have to rely on other users reporting issues.
Let's close those two issues, when other users run into an problem with the PPA I'll ping you.

[2021-02-20 09:08] DamirPorobic commented on #196
@MurzNN can you confirm that the PPA is working for Ubuntu `20.10`?

[2021-02-20 09:13] nemonein commented on #584
Ok!

[2021-02-20 09:13] #584 closed

[2021-02-20 09:14] MurzNN commented on #196
Yes, tested on Ubuntu 20.04 and 20.10 too - all works well, thanks!

[2021-02-20 09:14] #196 closed

[2021-02-20 09:15] DamirPorobic opened #585 "Ignoring XDG_SESSION_TYPE=wayland on Gnome issue on Debian 10 with deb package"
I have the same problem with ksnip > 1.7.3 on Debian 10 on a non-chromebook system. Happy to contribute any diagnostics you may need.

[code]
ksnip-1.7.3 works just fine on the same system.

_Originally posted by @nate-duke in https://github.com/ksnip/ksnip/issues/559#issuecomment-779925603_

[2021-02-20 09:16] DamirPorobic commented on #585
@nate-duke I'm trying to reproduce this issue but currently struggling with my debian 10 VM.
I have logged a new issue as I think that it's unrelated to the other.

[2021-02-20 09:48] DamirPorobic commented on #377
I think I will soon start working on this feature and currently my thinking about this feature is following:
1. Dragging tabs is problematic because tabs are draggable by them self and we have a non tab mode that shows no tabs at all and even in tab mode there is a feature that hides tabs when there is only single tab.
2. Having a specific button might not be very intuitive, users are going to try

[2021-02-20 10:55] amenk commented on #377
I prefer, but 1. maybe left + modifier (shift) ? left + right might be a bit hard to reach and not all mice have middle buttons

[2021-02-20 15:00] DamirPorobic commented on #377
Good point, left click plus modifier might work just nice. Need to check what is free.

[2021-02-20 20:20] fabianski7 opened #586 "Cannot delete the last screenshot if no tab is open"
If the option to automatically hide tabs is activated, and a screenshot is taken, it is not possible to delete it. The only option available is to close the program.

I think that allowing deletion of the screenshot via this option that already exists in the menu might be a way to solve this

<details><summary>Screenshot</summary>

![spectacle_20210220_171353](https://user-images.githubusercontent

[2021-02-20 20:22] DamirPorobic commented on #586
Don't we have an option under the Edit File Menu to delete?

[2021-02-20 20:32] fabianski7 commented on #586
It is also disabled

[2021-02-20 20:59] fabianski7 opened #587 "Screenshots of firefox include a border around the window"
I tested with version 1.8.1 and a recently built version from master and the bug happened in both.

Firefox 85.0.2

<details><summary>Screenshot</summary>

![69](https://user-images.githubusercontent.com/47755037/108608281-e735ad80-73bd-11eb-843f-3d69387170ab.png)
</details>

[2021-02-20 21:01] DamirPorobic commented on #587
I don't think that this has anything to do with Firefox. You have taken a screenshot of a Window? What OS are you using? X11 or Wayland?

[2021-02-20 21:03] fabianski7 opened #588 "Close button hidden after taking screenshot under kwin"
This is a rather strange bug that I initially thought about reporting on bugs.kde.org, but ksnip is the only application where this is happening.

The bug looks like this
1. The minimized start option in the systray is active
2. After opening, I use a global hotkey to take a screenshot
3. When ksnip is opened with the screenshot, the close button is partially hidden

<details><summary>Screenshot</

[2021-02-20 21:05] fabianski7 commented on #587
The problem only happens in firefox. In other windows it does not work perfectly, even in chromium.
Linux 5.11
X11

[2021-02-20 21:10] DamirPorobic commented on #588
That part of the window is not ksnip responsibility, it should be window manager responsibility. I believe I have seen this on other windows, for me it occurs often for CLion windows when started and I thought it was some strange KDE usability thing.

Can you please check with KDE if that issue was reported there already?

[2021-02-20 21:11] DamirPorobic commented on #587
Just firefox? You using KDE?

[2021-02-20 21:20] fabianski7 commented on #587
exactly

[2021-02-20 21:47] fabianski7 commented on #588
I'll try to talk to some KDE developer. Sorry for bugging your software

[2021-02-21 03:14] ljubadr commented on #377
1. @amenk has a valid point - for example I use Magic Trackpad 2, and it would be much easier to use it with the click + modifier combo. Maybe add config to select modifier key. I would probably prefer this approach :smile:
2. this could work too. Disable it by default and add config option to show it - anyone who needs this functionality will enable it
3. probably too complicated...

[2021-02-21 12:39] DamirPorobic commented on #377
This is now implemented with `Left Mouse+Shift`. When the image is not saved (not saved at all or has unsaved changes) a temporary file is created in the tmp folder and that one is then uploaded. This is required in order to share files with non Qt application. I have tested this on Linux with pasting images to Libre Office Writer, with Outlook WebMail and GitHub comments, seems to be working.

[2021-02-21 12:39] #377 closed

[2021-02-21 12:48] DamirPorobic commented on #586
I cannot reproduce this issue. Auto hiding single tab and one capture taken:
![image](https://user-images.githubusercontent.com/12796236/108625394-fdd61600-744a-11eb-908d-13de8ea58974.png)

The delete is enabled an clicking on it deletes the image and closes the tab.
![image](https://user-images.githubusercontent.com/12796236/108625422-252ce300-744b-11eb-884a-eccddd85e2fb.png)

In the screenshot t

[2021-02-21 13:34] fabianski7 commented on #586
Yes, she is not saved. maybe I reported it the wrong way. Sorry

What I wanted to do was delete the screenshot that was taken but was not saved.
I think it must be very common for everyone to take a screenshot and keep them in the program temporarily, without saving.
So, when the option to automatically hide tabs is enabled, and there is only one open, it is not possible to 'clear' the interface b

[2021-02-21 16:02] DamirPorobic commented on #586
Now I get it. You want a way to clear or reset the main window. Hmm, this probably goes for the non tab mode too as there is also no way to get back to the initial size. Maybe some "Clear" option under the edit or window file menu.

[2021-02-21 16:51] fabianski7 commented on #586
Exactly.

I think it will be a very welcome function

[2021-02-21 16:55] fabianski7 commented on #586
I think the edit menu is getting a little overwhelmed, so adding another option will contribute even more to that. Isn't taking advantage of the current option to delete a possibility?

[2021-02-21 16:59] DamirPorobic commented on #586
Yeah, edit might be getting full slowly, we'll think about a new menu when we get to this feature. Suggestions and ideas are welcome of course.

Delete is deleting files and the tab being closed is just a side effect. You can currently save the last tab and then hit delete which will remove it but it's probably not what you want do :)

[2021-02-21 17:41] fabianski7 commented on #586
great hacky 😂

[2021-02-21 17:43] amenk commented on #377
Works well - thank you :-)

[2021-02-21 17:48] fabianski7 commented on #377
This ended up implementing another function too: duplicate screenshots

Just drag the image to another tab and you're done.
Amazing work @DamirPorobic

[2021-02-21 18:41] mjverbeek opened #590 "HiDPI scaling not handled correctly under windows"
I'm seeing this on my 4K laptop monitor using ksnip 1.8.1 build 1686.d6b138b
3840 x 2160    225% scaling.

I've seen this behaviour before, in prior versions.
Just wanted to share.

This is what I see on my monitor:

As soon as I start 'take screenshot' with ksnip screen is aprox 1/4 of the monitor: (1/225% ?)

This is the area I select for screenshot:

And this is the result:

[2021-02-21 18:43] DamirPorobic commented on #590
Interesting, you're having this issue with Windows.

Dual monitor or single monitor?

[2021-02-21 19:25] ljubadr commented on #377
Tested 1.9.0 drag&drop update on Ubuntu 20.04 and it works well. Thanks @DamirPorobic :+1:

[2021-02-21 19:33] mjverbeek commented on #590
I've read about this issue with dual monitor in Linux.
Windows version = 20H2 19042.804
Video card = Intel HD Graphics 630 & NVIDIA GeForce GTX 1050

[2021-02-21 19:44] mjverbeek commented on #590
addition:

with scaling 100% and reboot, I don't have the issue
back to 225% I don't have the issue, though screen is bit messy until reboot
and after the reboot the issue is back again

[2021-02-21 19:46] DamirPorobic commented on #590
Sorry I didn't get if you have Notebook + Monitor or just Notebook?

[2021-02-21 20:08] mjverbeek commented on #590
Just notebook.

[2021-02-21 20:09] DamirPorobic commented on #585
@nate-duke might be that this is related to a bug introduced with Qt 5.11: https://unix.stackexchange.com/questions/450411/qt5-font-size-too-big-when-run-in-gnome-on-wayland

Can you check what Qt version you have? For me ksnip starts actually in my Debian 10 VM but icons look kind of strange. What issue do you have?

@hosiet are you aware of this issue under Debian 10?  Following error is show wh

[2021-02-21 20:13] DamirPorobic commented on #580
I don't think that we can do here much, if an old version of ksnip is not working on an old version of MX, well, can't go back in time. When newer versions are working I think I would close this issue.

[2021-02-21 21:18] tb75252 commented on #580
Yes, please close this thread.Thanks.--
Tiziano

    On Sunday, February 21, 2021, 2:13:32 PM CST, Damir Porobić <notifications@github.com> wrote:

I don't think that we can do here much, if an old version of ksnip is not working on an old version of MX, well, can't go back in time. When newer versions are working I think I would close this issue.

—
You are receiving this because you authored the

[2021-02-21 21:19] #580 closed

[2021-02-22 12:24] nate-duke commented on #585
[code]
for me ksnip doesn't even launch. I do not use any other QT related applications so I could not comment on any odd icon sizes, font issues or gui elements. Because of this i elected to install kgpg (the most simple QT app that i could think of) which of course brought in a load of dependencies. Kgpg worked fine so i tested ksnip-1.8.1.deb and low and behold it works fine.

This makes me thi

[2021-02-22 16:55] ElishaDaugherty opened #592 "Add support for KDE Plasma notification service"
**Is your feature request related to a problem? Please describe.**
Those who use KDE Plasma and Spectacle or Flameshot may be used to having the option to simply drag and drop the image through the notification. This is very useful as you don't even need to open the program interface, just use the shortcut, capture the image and then it is as a notification in the corner of the screen ready to be

[2021-02-22 18:35] DamirPorobic commented on #592
Looks like they're using the DBus for sending requests for notifications. We can have a look into it, doesn't seem to be complex, we already send the image path to our notification service and as far as I know you can click on the bubble to open the parent folder.

[2021-02-22 18:39] connorhodes commented on #575
I am having the same issues on my system. I'm running Arch Linux with spectrwm. I can run the 1.7.3 AppImage, but I cannot run:
- the 1.8.0 AppImage
- the 1.8.1 AppImage
- version 1.9.0 installed from the git repo.
- version 1.8.1 installed from source

I have previously used versions up through 1.7.3 installed from source on my system successfully.

[2021-02-22 18:45] DamirPorobic commented on #575
With the same error message as reported earlier, something regarding fonts?

________________________________
From: Connor Rhodes <notifications@github.com>
Sent: Monday, February 22, 2021 7:39:28 PM
To: ksnip/ksnip <ksnip@noreply.github.com>
Cc: Damir Porobić <damir_porobic@live.com>; Comment <comment@noreply.github.com>
Subject: Re: [ksnip/ksnip] Can not run ksnip-1.8.0-x86_64.AppImage on Linux

[2021-02-22 20:20] connorhodes commented on #575
I get this error.
![image](https://user-images.githubusercontent.com/64938337/108765036-f11ff380-7518-11eb-9247-18a00bee3ead.png)

The first two lines are the same as https://github.com/ksnip/ksnip/issues/575#issue-804218806 but I don't get the "symbol lookup error."

[2021-02-22 21:00] ElishaDaugherty commented on #592
Thanks @DamirPorobic

[2021-02-22 22:03] DamirPorobic commented on #592
@fnkabit might this be something for you? We already have an interface for the ToastService which is currently the QSystemTrayIcon. Now a new class is required that implements this interface and sends a DBus message as done in Flameshot. Next you need a factory that returns the correct implementation based on some criteria (Unix/Linux). Finally, it would be nice to have a config option so the user

[2021-02-22 22:09] DamirPorobic commented on #585
@nate-duke Would be much appreciated if you could figure out what is missing there, I'm quite overbooked currently with issues and feature requests.

[2021-02-22 22:19] DamirPorobic commented on #575
That is not much input, all three entry come from ksnip and are not critical.

What happens after starting, ksnip just crashes? Can you try running ksnip with gdb?

[code]

[2021-02-22 22:35] DamirPorobic commented on #575
Oh and what Arch version do you use and how can I install spectrwm? First time I hear about spectrwm, always something new with linux.

[2021-02-23 01:51] connorhodes commented on #575
I ran ksnip (from source) with gdb and uploaded the output.
[gdb_1.9.0.txt](https://github.com/ksnip/ksnip/files/6026332/gdb_1.9.0.txt)

The program doesn't appear to be crashing. I can still see that it has a process ID. In the output I provided, I eventually killed the program with Control+c after it had hung for awhile.

[2021-02-23 01:57] connorhodes commented on #575
I'm running this [Arch Linux](https://archlinux.org/). There's just one version. It's kept updated as a rolling release. You can install spectrwm with `sudo pacman -S spectrwm`.

[2021-02-23 02:04] connorhodes commented on #575
I'm working on creating a virtual machine that mirrors my environment to replicate the issue. If you'd like I can send it to you once I'm done. It's a KVM image, but I can convert it to another format (VMware, VirtualBox, Hyper-V.) Which format works best for you?

[2021-02-23 06:50] fnkabit commented on #592
@DamirPorobic Thanks ! Will start working on this today.

[2021-02-23 07:03] DamirPorobic commented on #575
A VM would be nice, VirtualBox is the VM of my choice. Thanks.

[2021-02-23 12:49] nate-duke commented on #585
I'll see what I can do. I went back and uninstalled everything that got pulled in when i installed kgpg and for whatever reason ksnip 1.8.1 works fine now. That can mean several things but i'm guessing that either a default configuration got laid down that was required and didn't get removed when i removed those dependencies OR my existing gnome/wayland session was configured by that process and w

[2021-02-23 15:52] connorhodes commented on #575
While building my test environment, I discovered more about my issue. It looks like it's a different issue than zybna is having. It turns out that there is a [bug](https://github.com/conformal/spectrwm/issues/223) in spectrwm that doesn't display minimized windows. Spectrwm also doesn't have a system tray, so there's no visual indication that Ksnip is running, and no way to interact with it. Ksnip

[2021-02-23 16:09] DamirPorobic commented on #575
It should be a feature, not a bug (there is a setting that you can change to enable or disable this behavior) but now that you mention it, it looks like the feature is broken and starts always minimized. I can reproduce it on my machine too. I'll have a look into it.

[2021-02-23 22:03] DamirPorobic commented on #575
Is the issue that it's minimized or minimized to tray? On window it was starting for me minimized to tray but I had an older version there. On Linux it starts minimized with the option `Start minimized to tray` disabled and minimized to tray with the option enabled. So that option seems to work only that initial starting minimized is questionable.

[2021-02-23 22:19] DamirPorobic opened #593 "Ksnip starts minimized"
While building my test environment, I discovered more about my issue. It looks like it's a different issue than zybna is having. It turns out that there is a [bug](https://github.com/conformal/spectrwm/issues/223) in spectrwm that doesn't display minimized windows. Spectrwm also doesn't have a system tray, so there's no visual indication that Ksnip is running, and no way to interact with it. Ksnip

[2021-02-23 22:23] connorhodes commented on #575
It starts minimized even if I have `Start minimized to tray` unchecked. Regardless of whether `minimize to tray` is checked, it starts minimized *not minimized to the system tray.* After I reveal the window the first time, then it follows the `minimize to tray` setting (eg. if it's checked it minimized to the tray, if it's not, it minimizes to the window bar.)

[2021-02-23 22:26] DamirPorobic commented on #593
@connorhodes I have added a fix for this, the CI runs now for 30min or so, after that you can check out if the issue is fixed. It was explicitly starting minimize and I can't remember why I put it there. If someone complains we I'll add a feature toggle for the new old behavior.

[2021-02-23 23:28] connorhodes commented on #593
It works for me! It no longer starts minimized unless I check `Start Minimized to Tray` in which case starts minimized to the tray (not the window bar) as intended. With all other configurations, it starts open like any other program.

[2021-02-24 07:11] DamirPorobic commented on #593
Glad t hear that it's working now :)

[2021-02-24 07:11] #593 closed

[2021-02-26 00:30] hpka opened #595 "Sharp point on the arrow tool"
**Is your feature request related to a problem? Please describe.**
This feature request isn't a problem, it's entirely a personal preference. It's entire value is derived from opinion only and I have no rational reason for liking one more than the other.

**Describe the solution you'd like**
Currently the arrow tool has a rounded tip, I would like the option to use a fine point tip, similar to the

[2021-02-26 08:08] zyf0330 commented on #409
When uncheck **Image Grabber - Show Main Window after capturing screenshot**, after capturing by shortcut main window still shows.

[2021-02-26 08:11] DamirPorobic opened #596 "Main window still show after screenshot when corresponding option disabled"
When uncheck **Image Grabber - Show Main Window after capturing screenshot**, after capturing by shortcut main window still shows.

_Originally posted by @zyf0330 in https://github.com/ksnip/ksnip/issues/409#issuecomment-786483085_

[2021-02-26 08:13] DamirPorobic commented on #596
@zyf0330 With what ksnip version have you tested this? What OS/Distro?

Can you test this with `1.8.0` and the `1.9.0` continuous build?

[2021-02-26 08:24] zyf0330 commented on #596
@DamirPorobic Oh sorry, I tested with v1.8.1. And for 1.9.0, I don't find deb image.

[2021-02-26 08:29] DamirPorobic commented on #596
`1.8.1` is fine, I just wanted to check if it was a change in `1.8.2` that I made it the other day.

What distro?

[2021-02-26 08:31] zyf0330 commented on #596
Ubuntu with kde
`Linux hostname 5.4.0-66-generic #74-Ubuntu SMP Wed Jan 27 22:54:38 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
[code]

[2021-02-26 08:32] DamirPorobic commented on #596
Ok, I'll try to reproduce. One more thing, can you just for testing purpose try out the AppImage?

[2021-02-26 08:35] zyf0330 commented on #596
AppImage behaviors the same.

[2021-02-26 08:36] DamirPorobic commented on #596
Thanks

[2021-02-26 13:58] fabianski7 commented on #596
with ksnip built from the master: if the window is minimized after taking a screenshot, it is not displayed. However if it is in the systray, the bug happens

[2021-02-26 14:00] DamirPorobic commented on #596
@fabianski7 sounds like a different issue. Can you please open a bug with descriptions what happens?

[2021-02-26 14:04] fabianski7 commented on #596
I think it can be the same thing. I don't know if I described it well.
I will follow this and if the behavior continues even after it is fixed, I will report in a different one

[2021-02-26 17:27] wellic opened #597 "Continuous deb-package is absent"
**Describe the bug**
Hi.
Could you restart travis because deb package is not uploaded.
I suppose it was trouble after building in travis.

**To Reproduce**
1. Go to https://github.com/ksnip/ksnip/releases/tag/continuous
2. A continuous deb-package is absent

**Expected behavior**
1. Go to https://github.com/ksnip/ksnip/releases/tag/continuous
2. You can download continuous deb-package

**Screensho

[2021-02-27 00:02] Shatur95 opened #598 "Export image grabber to a library"
Thank you for the awesome application, I use it every day.

I would like to ask you to export image grabber (with rectangle selection tool) to a library. This will allow to use it in other applications. For example, [my application](https://github.com/crow-translate/crow-translate) have OCR functionality and it would be nice to use the same implementation (as far as I know, at the moment there is

[2021-03-01 13:56] dchen327 opened #599 "Ability to customize transparency of blur when screenshotting"
Coming from flameshot on Linux to ksnip on Windows, I absolutely love ksnip!

Flameshot had an option to change the amount the rest of the screen is blurred when a screenshot is taken. Since oftentimes I'll want to screenshot while screensharing my second monitor, I don't want all my screens to go dark. It'd be awesome if we could set the transparency, and even with zero blur ksnip is still usable

[2021-03-01 14:01] DamirPorobic commented on #599
hmm, what version are you using? I think that you can adjust this already with version `1.8.1`  under `Options > Settings > Image Grabber > Snipping Area > Snipping Area Transparency`. Let me know if that is the setting you're looking for.

[2021-03-01 14:10] DamirPorobic commented on #598
I have extracted the annotation functionality to a separate library and it has introduced an additional complexity to ksnip with no real gain for ksnip itself. Having a lot of open feature requests and bugs open I'm afraid we don't have the capacity to work on this. If someone else want to extract it, I can help with that, but there again it's questionable if we would use it in ksnip as said, the

[2021-03-01 14:10] #598 closed

[2021-03-01 14:16] dchen327 commented on #599
I'm on `1.8.1` on Windows but I don't see a transparency setting.

[2021-03-01 14:17] DamirPorobic commented on #599
Ok, sorry, then it must be `1.9.0`, I have that version and the setting is there.

[2021-03-01 14:22] DamirPorobic commented on #597
Sorry for the delay, I was traveling. I think it's there now:
![image](https://user-images.githubusercontent.com/12796236/109510097-e5e14080-7aa1-11eb-844b-5bda949a7a86.png)

[2021-03-01 14:22] #597 closed

[2021-03-01 14:23] dchen327 commented on #599
Just grabbed 1.9.0 and it's working beautifully! I'm just facing a small bug where I can't seem to change the color of the adorner color; when I pick a color and it ok it stays red.

Thanks for 1.9.0 though!

[2021-03-01 14:25] DamirPorobic commented on #599
You're right, I'll look into it.

[2021-03-01 14:26] DamirPorobic opened #601 "Not possible to change adorner color"
Just grabbed 1.9.0 and it's working beautifully! I'm just facing a small bug where I can't seem to change the color of the adorner color; when I pick a color and it ok it stays red.

Thanks for 1.9.0 though!

_Originally posted by @dchen327 in https://github.com/ksnip/ksnip/issues/599#issuecomment-787987066_

[2021-03-01 14:26] DamirPorobic commented on #599
Closing this one and continuing in #601

[2021-03-01 14:26] #599 closed

[2021-03-01 16:42] Shatur95 commented on #598
@DamirPorobic, I thought that if the library will be used in other projects, it will improve its quality.
But I understand your point of view. Will try to find another way to solve my OCR issues :D

BTW, I divided my project into libraries too ([QOnlineTranslator](https://github.com/crow-translate/QOnlineTranslator), [QGitTag](https://github.com/crow-translate/QGitTag)). But I used a different app

[2021-03-01 17:09] DamirPorobic commented on #598
I build the annotator also as static library but that is not always feasible, as I'm not always the one building it. Just recently a user was trying to create PPAs vor Ubuntu and had to create three of them for all the dependencies. There is also other stuff like versioning, when you have continuous build that is not tagged and you work like on two version (patch and minor for example), which one

[2021-03-01 18:27] Shatur95 commented on #598
Yes, it's not convenient.
With FetchContent (built-in CMake helper) users do not have to create separate packages, dependencies are downloaded automatically during configuration step in CMake (the user does not need to install them to the system). This works like `add_subdirectory` in CMake, but for a separate repository. This is very useful for tiny libraries that linked statically. Everything wi

[2021-03-02 16:01] eff-sunny commented on #590
Hi,

I have exactly the same problem, but with 1920 x 1080 laptop screen with 150% scaling.

Windows 10 Enterprise (version 2004, build 19041.804)
Video card: Intel(R) UHD Graphics 620

[2021-03-02 18:23] DamirPorobic commented on #590
@eff-sunny thanks for reporting, I'll try to reproduce.

[2021-03-02 19:37] DamirPorobic commented on #601
This should be fixed now.

[2021-03-02 19:37] #601 closed

[2021-03-02 21:56] dchen327 commented on #601
Working perfectly! Thanks so much!

[2021-03-03 11:53] amenk commented on #546
Okay, we are currently evaluating if we can install unsigned MSI files automatically. If they need to be signed for the unattended deployment, this would be annoying ;-(

Still I think it would be great if this can be easily installed within organizations and increase the user base :)

[2021-03-03 12:05] amenk commented on #546
There is one from comodo for 69$/yr .. still I would suggest writing to the different vendors to ask for sponsorship :)

[2021-03-03 12:55] DamirPorobic commented on #546
I wrote to three of them, best was a 20% discount but one for the more expensive :/

I would definitely go for the signed one but that is probably the last step, still haven't had time to look into the MSI packaging but it's still high on my prio list.

[2021-03-04 10:19] DamirPorobic commented on #592
This is now implemented on master, you can test it with the continuous build. Kudos to @fnkabit to implementing this feature.

[2021-03-04 10:27] #592 closed

[2021-03-04 15:02] fabianski7 commented on #592
I just built ksnip, kimageannotator and kcolorpicker, and enabled this option in the settings, but it is not working.
in fact, no other notifications are working, such as imgur upload ones. Even when this is disabled

KDE Plasma Version: 5.21.2
KDE Frameworks Version: 5.79.0
Qt Version: 5.15.2
Graphics Platform: X11

[2021-03-04 15:06] fnkabit commented on #592
@fabianski7 Do you get no notification anymore ?

[2021-03-04 15:34] DamirPorobic commented on #592
@fabianski7 do you have tray icon enabled?

@fnkabit we have there a dependency which might not be required, but that's a different story.

[2021-03-04 18:29] fabianski7 commented on #592
Now I have it working. I think this tray icon settings menu is a bit confusing (at least what is being displayed to me in portuguese).

The options "use tray icon" and the other "display tray icon" give the impression of being the same thing. Even when the display option is disabled, the icon is still displayed in systray because the first option seems to be the one that actually modifies this.

[2021-03-04 18:30] fabianski7 commented on #592
![2021-03-04_15-30](https://user-images.githubusercontent.com/47755037/110011789-bb002200-7d17-11eb-8e56-e6809e8e7718.png)

[2021-03-04 18:32] fabianski7 commented on #374
closing this after the amazing work done here
https://github.com/ksnip/ksnip/issues/592

[2021-03-04 18:32] #374 closed

[2021-03-05 08:30] dregad commented on #460
I have ksnip 1.8.1 (installed via snap, on Ubuntu 20.04.2), yet I still see the borders around active window screenshots. Do I need any additional setup to fix this ?

[2021-03-07 11:39] DamirPorobic commented on #592
@fabianski7 I think that this is a translation error, this is how it looks without translation (note that the ksnip version is not up to date, the last checkbox is missing on this pc)
![image](https://user-images.githubusercontent.com/12796236/110238483-32b19500-7f42-11eb-8adb-979dbea8a5d2.png)

[2021-03-07 23:30] fabianski7 commented on #592
Definitely.
I think the @antrrax  is who translates to the Portuguese? você poderia verificar isso?

[2021-03-07 23:56] antrrax commented on #592
@fabianski7
Portuguese from Brazil is fully translated. Are you using the Portuguese version, or Portuguese (Brazil) version?

What version of Ksnip are you using?

https://hosted.weblate.org/projects/ksnip/translations/pt_BR/
https://hosted.weblate.org/projects/ksnip/translations/pt/

[2021-03-08 00:46] fabianski7 commented on #592
Sim. Essa está melhor/correta.

[2021-03-08 00:51] ElishaDaugherty commented on #592
Just now I've had time to answer that. Looks like I missed a lot of stuff 😂

anyway, thank you @DamirPorobic and @fnkabit ❤️

[2021-03-08 00:58] antrrax commented on #592
Ready! Corrected the translation. Now just wait for Weblate to send the automatic PR

[2021-03-08 13:19] hum4nizer opened #603 "OCR scan of screenshot"
**Is your feature request related to a problem? Please describe.**
No. It is not related to a problem.

**Describe the solution you'd like**
I would like the feature to OCR scan the screenshot when a screenshot is taken to extract text from the picture.

**Additional context**
Thanks a bunch for a awesome piece of software!

[2021-03-08 21:48] fabianski7 commented on #530
I think this will also be useful to be used through the CLI. I was trying to set up a shortcut to save the screenshots in a different folder than what is set in ksnip but it is not possible

[2021-03-10 02:58] Aikatsui opened #604 "Unable to add different numbers"
**To Reproduce**
1. Take a screenshot
2. Start to add numbers eg: 1
3. Next, need to add number 5 so change number seed from 1 to 5
4. If change number seed then existing number change according to it

**Expected behavior**
Existing added numbers remain without change.

ksnip 1.9.0 | ubuntu 20.10 | X11 | snap

[2021-03-10 07:39] fnkabit commented on #604
Hello @Aikatsui ,

There is an option for this under **Settings** > **Annotator** : **Number Tool Seed change updates all Number Items**
You can uncheck this to get the behavior you want.

[2021-03-10 10:03] DamirPorobic commented on #603
I've been thinking about this feature for quite some time but haven't found any simple solution. We need to figure out what external library can be used for this and hot to interact with it. But definitely would a nice addition to ksnip.

[2021-03-10 10:20] DamirPorobic commented on #603
https://github.com/tesseract-ocr/ might be something that could work.

[2021-03-10 11:03] timrichardson commented on #590
I have this problem too, on ubuntu 20.10, with snap and app image, 1.8.1 and "1.9.0".
not a wayland session.

If ksnip launches on my primary monitor (which it always does), it assumes it is in hidpi mode, and when I move any part of the application window to a second monitor, it becomes tiny. My primary monitor is 4K, but not hidpi.
Also, when doing a rectangular area screenshot, it is effectivel

[2021-03-10 11:10] timrichardson commented on #590
I installed from flatpak. Then the session crashed, so I logged out and in again, and it works much better. The appimage and snap were also badly themed, but the flatpak version looks much better. It also works properly.

[2021-03-10 11:11] DamirPorobic commented on #590
@timrichardson I don't think that you have the same issue, sounds different then what @eff-sunny has. His issue is hdpi related and single monitor. You have dual monitors without hidpi. I think I would look a new issue for that.

[2021-03-10 11:18] timrichardson opened #605 "auto detection of hidpi should not happen when a 4k monitor is not hidpi"
**Describe the bug**
The snap and appimage version 1.8.1 launch on my main monitor, which is 4K but is not hidpi.
Then when moving any ksnip window to a second or third monitor, the windows is reduced in size to be very small.
It looks like there is auto-scaling compensating for it no longer being on a hidpi screen, which is very cool, but wrong.

The Zoom client for linux in Ubuntu does this too,

[2021-03-10 11:32] timrichardson commented on #605
I will post a link to a screen recording. Unfortunately, audio didn;t record.

https://drive.google.com/file/d/1dIQQC2XtQYLy2lSD-dZNETemOT656Uos/view?usp=sharing

I show two installs of ksnip. On the left, 1.8.1 flatpak, on the right, snap. They are both launched on my large 4K monitor.
You can see the broken theming of the snap version. AppImage is the same.
After a few seconds when it looks like

[2021-03-11 03:59] Aikatsui commented on #604
@fnkabit It solved the problem however it'll be better ksnip comes with that disabled by default otherwise many people misunderstand as bug and necessary users able to enable it

[2021-03-11 07:44] DamirPorobic commented on #604
@Aikatsui What we have there is our default behavior for over 2 years and what you have requested was the default before that. You are just the second person that has asked to the old behavior. We will go with the current setting, if there are more people asking for this to be the default we can reconsider and discuss.

[2021-03-11 07:44] #604 closed

[2021-03-11 09:33] hum4nizer commented on #603
Exactly! ShareX uses the tesseract  OCR engine. And it works for them.

[2021-03-11 09:46] DamirPorobic commented on #603
@fnkabit what do you think about this feature? Would be nice to have something like this in the application but I personally haven't worked with OCR libraries yet. Do you have any experience?

[2021-03-11 10:04] fnkabit commented on #603
@DamirPorobic . Sure, would like to work on this.
Except the tesseract integration, how do you see this working ? ie. do we add a tool for making a selection, perform OCR, and then display a dialog  with the transcription ?

[2021-03-11 10:05] fnkabit commented on #603
@DamirPorobic To answer your question, I don't have any experience working with OCR.

[2021-03-11 10:11] DamirPorobic commented on #603
Maybe @hum4nizer can describe how it works in ShareX but for beginners I had in mind to have a button in the file menu that triggers OCR and displays a dialog with all text it has found, something in that direction, later on we can get more fancy.

Regarding the code, I think it would be nice to have a nice separation, hide the OCR stuff behind an adapter and an interface. Also, maybe we should co

[2021-03-11 10:12] fnkabit commented on #603
@DamirPorobic Sounds good.
Did a YT search to see how this works in ShareX: https://www.youtube.com/watch?v=t629fruq1Z0

[2021-03-11 10:16] DamirPorobic commented on #603
Not far from what I had in mind. Would be cool to be able to do something like this.
ShareX is open source as far as I know, maybe you can have a look into their code for hints

[2021-03-11 10:18] fnkabit commented on #603
@DamirPorobic Thanks ! I will implement this next week.

[2021-03-11 15:06] DamirPorobic commented on #605
The whole hidpi stuff is a major PITA ith Qt.

I was first thinking about adding a toggle to disable the scaling as you mentioned for Zoom but we have this scaling detection in ksnip and in the annotator. I'll see what I can do here.

[2021-03-11 21:43] ljubadr opened #606 "Add another screenshot"
**Is your feature request related to a problem? Please describe.**
Currently there is no problem

**Describe the solution you'd like**
Sometimes I need to take multiple screenshots and to merge them into one image to add annotations

It would be nice to have an option to "merge" multiple images into one

One option would be to copy&paste one image into another and the new image would be placed cen

[2021-03-11 21:50] ljubadr opened #607 "Cancel screenshot shows main window when window was hidden"
**Is your feature request related to a problem? Please describe.**
Currently when I start taking screenshot I and I press `Esc` key main ksnip window comes into focus even though no screenshot was taken

**Describe the solution you'd like**
I would like to be able to cancel the screenshot with `Esc` without ksnip window taking focus

[2021-03-11 22:01] DamirPorobic commented on #606
I don't known what version you are using but what you describe there is possible, at least with `1.9.0`. You can copy the screenshot from one tab and paste it into another tab with `Edit > Paste Embedded` or the shortcut `CTRL+SHIFT+V`. The image that you are pasting doesn't have to come from ksnip, it can be any image that you have copied into your clipboard.

And you're right, if the image that

[2021-03-11 22:03] DamirPorobic commented on #607
I think we have fixed that in `1.8.1`, this was the issue https://github.com/ksnip/ksnip/issues/521

With the latest version I cannot reproduce that issue.

What OS/Distro are you using?

[2021-03-12 11:26] aseques commented on #377
Just wanted to say thanks for this feature :+1:

[2021-03-12 11:36] DamirPorobic commented on #377
@aseques you're welcome :)

@fabianski7 you were able to do it before too, with `CTRL+C` then `CTRL+V` would have created a duplicate tab too ;)

[2021-03-12 13:01] pascal-niklaus opened #608 "Global shortcuts to select colors"
I use ksnip when teaching, and being able to draw quickly is critical.

It would be great if one could select colors with a global, user-definable, shortcut.

It also would be good to be able to add a few custom colors to the color palette.

[2021-03-12 13:42] fabianski7 commented on #607
I confirm this bug
I'm at the master, archlinux.

perhaps related to https://github.com/ksnip/ksnip/issues/596?

[2021-03-12 13:54] DamirPorobic commented on #607
@fabianski7 for you too when you hit cancel and the window was hidden before the screenshot, afterwards the window is show?

[2021-03-12 14:04] fabianski7 commented on #607
yes

[2021-03-12 14:06] DamirPorobic commented on #607
Is this with Gnome or Plasma? X11 or Wayland?

[2021-03-12 14:12] fabianski7 commented on #607
Operating System: Arch Linux
KDE Plasma Version: 5.21.2
KDE Frameworks Version: 5.79.0
Qt Version: 5.15.2
Kernel Version: 5.11.4-arch1-1
Graphics Platform: X11

[2021-03-12 20:08] DamirPorobic commented on #546
@amenk have you seen this error before:
![image](https://user-images.githubusercontent.com/12796236/110993043-1749ee00-8377-11eb-8bf5-78cafb27e2f4.png)

[2021-03-12 20:13] amenk commented on #546
I believe it should not use NSIS but WiX... Maybe wrong generator somewhere specified?

[2021-03-13 04:36] ljubadr commented on #606
Thank you for your fast response!

Currently I'm using the version `1.8.1` on Ubuntu 20.04

I've installed version `1.9.0-continuous` to test this out and `Edit > Paste Embedded` works really nicely. Even if I move the pasted embedded image below the original image I see that the canvas is adjusting automatically so there is no need to `View > Modify Canvas`. This pretty much matches my feature re

[2021-03-13 04:45] ljubadr commented on #607
I'm using Ubuntu 20.04

`Linux hostname 5.4.0-59-generic #65-Ubuntu SMP Thu Dec 10 12:01:51 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux`

Currently I'm using the ksnip version `1.8.1`, but I've also tested this on `1.9.0-continuous` and it happens there as well...

[2021-03-13 14:11] DamirPorobic commented on #546
@amenk I think I got it working. It installs all required plugins and can be started.
The only thing that is now missing are does ssl libs but they are only required when you upload something to imgur.

[2021-03-13 16:58] amenk commented on #546
great, thanks. we will try to deploy it. I currently have some hope, that it does not need to be signed and we can sign it when importing to WSUS or whatever method we use to roll it out to our users.

[2021-03-13 19:59] DamirPorobic commented on #546
Two issue that I have identified is the missing ssl files and the translations should be one directory deeper but both should fixable and non blocking.
I still want to go with the signing, we already pay 99$/year for MacOS signing with only a handful of users so we should also pay those 69€/year for our windows users where we have a lot more users.

I hope I can resolve everything within the next

[2021-03-15 18:06] DamirPorobic commented on #369
This is now implemented, hotkeys will follow in next couple of days but the action can be configured and triggered from file menu and tray icon already.

[2021-03-15 18:07] DamirPorobic commented on #555
This is now possible via Actions that can be defined in settings.

[2021-03-16 17:22] hum4nizer commented on #603
Hi! Im really excited about this new featire. Good luck with the implementation.

[2021-03-16 18:51] DamirPorobic commented on #369
You can now define shortcuts for actions and if global hotkeys are enabled then the action shortcuts are global hotkeys too that work outside ksnip.

[2021-03-17 09:52] pkoerner81929 commented on #596
Same here (Fedora, Gnome, X11, multiple screens, nvidia driver):
- Unchecked: Show main window after capturing screenshot
- Checked: Hide Main Window during screenshot
- ksnip in systray. Using Alt-Shift-L to repeat screenshot of previous area.
- ksnip window appears after screenshot (unwanted behaviour..)

[2021-03-17 20:22] amamut opened #609 "Screen region snippet blurry and pixelated"
Taking a screen region snapshot on my 3840x2160 (DPI: 165) screen results in the screenshots being extremely blurry and unreadable:

![image](https://user-images.githubusercontent.com/963908/111532409-01a04400-873c-11eb-9ccd-315b24618f2f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Type `ksnip -r` into terminal
2. Select region.
3. Look at snapshot created in ksnip

**Expected behavi

[2021-03-17 21:29] DamirPorobic commented on #369
This is now finished, let's see if we get some bugs.

[2021-03-17 21:29] #369 closed

[2021-03-17 21:31] DamirPorobic commented on #609
Just for testing purpose, can you please check if you can reproduce this issue with the continuous build of version `1.9.0` [here](https://github.com/ksnip/ksnip/releases/tag/continuous)

[2021-03-18 08:20] DamirPorobic commented on #596
I'll have a look into it. It looks to me as a change in the Qt code that handles the minimizing because you see it with newer version and I with my 5.12 don't.

[2021-03-18 11:36] DamirPorobic commented on #571
@venclj any update on this one?

[2021-03-18 11:44] DamirPorobic commented on #607
I have pushed a fix for this issue, can you please test?

[2021-03-18 11:44] DamirPorobic commented on #596
I have pushed a fix for this issue, can you please test?

[2021-03-18 11:47] DamirPorobic commented on #585
@nate-duke what should we do with this issue?

[2021-03-18 11:49] DamirPorobic commented on #575
I don't see any further action required from my side here so I'm going to close this issue. @connorhodes the starting minimized issue should be fixed in `1.8.2` and higher.

[2021-03-18 11:49] #575 closed

[2021-03-18 11:54] pkoerner81929 commented on #596
Main window still always appears after taking screenshot with e.g. Alt-Shift-L. No matter if it has been closed/minimized.

Version: 1.9.0-continuous
Build: 1922-cf37c30

[2021-03-18 11:56] nate-duke commented on #585
It's likely safe to just close it. Everything has been fine for me since. My supposition of an old default configuration in one of the dependencies OR  restarting gnome/wayland session is where i still stand on this.

Thanks for the time you spent on this.

[2021-03-18 11:56] DamirPorobic commented on #596
Peter, you are too fast for the CI xD
![image](https://user-images.githubusercontent.com/12796236/111622350-5bab1300-87e9-11eb-8a63-d7d764677644.png)

[2021-03-18 11:58] DamirPorobic commented on #585
No problem, let me know if you run into this issue again.

[2021-03-18 11:58] #585 closed

[2021-03-18 12:01] pkoerner81929 commented on #596
:-)

[2021-03-18 12:10] DamirPorobic commented on #590
@mjverbeek what Linux Distro and Desktop Manager are you using?

[2021-03-18 12:17] mjverbeek commented on #590
Not Linux, I'm on Windows 20H2 19042.867
Single monitor 3840 x 2160 225% scaling.

[2021-03-18 12:19] DamirPorobic commented on #590
Oh, sorry, my wrong. Thanks for clarifying.

[2021-03-18 12:36] venclj commented on #571
Now I have AppImage where as button/keyboard shortcut works as you have
pointed.

čt 18. 3. 2021 v 12:36 odesílatel Damir Porobić ***@***.***>
napsal:

[2021-03-18 13:09] pkoerner81929 commented on #596
Version: 1.9.0-continuous
Build: 1925-dd6dc12

Behaviour changed:
- If minimized (using "-" icon on window), capture window stays in windowlist one time. At second try it re-appears. If hidden again, it stays hidden in windowlist for the next multiple screenshots.
- If closed (using "x" icon on window), ksnip goes to tray in background and does always re-appear after e.g. Alt-Shift-L

[2021-03-18 13:24] amamut commented on #609
I downloaded the appimage and ran it, but the version is still listed as 1.8.0. Is that expected?

Anyways, same results:

![image](https://user-images.githubusercontent.com/963908/111633280-b33a8600-87cb-11eb-96ce-49809bd4e654.png)

[2021-03-18 13:42] fabianski7 commented on #607
[code]
still the same

[2021-03-18 19:18] pascal-niklaus opened #610 "insert bitmap as content"
It would be super-cool if a captured bitmap (e.g. a small part of the screen) could be inserted as regular graphical element into a larger bitmap. I imagine a rectangular element that could be resized and moved like all the other lines, numbers etc. That would increase the versatility of ksnip a lot. Maybe some of the rectangle code could be reused, for example allowing to have a border with a cer

[2021-03-18 19:22] DamirPorobic commented on #610
Have a look at https://github.com/ksnip/ksnip/issues/606

[2021-03-18 19:31] pascal-niklaus commented on #610
Amazing, I had not noticed this!
If I nevertheless may add a suggestion: it would be best if the image would not be merged into the captured bitmap but remain floating (as a graphical element). For the moment, "paste embedded" follows a "logic" that is different from all the drawings and annotations which are "floating elements" that can be moved, deleted, resized etc. Also, being able to use a mo

[2021-03-18 19:34] DamirPorobic commented on #610
That all should be possible. The pasted image is added as an annotation item that can be moved around, resized, deleted and so on, like other items. You have to select it though.

[2021-03-18 20:10] DamirPorobic commented on #596
Ok, that with clicking close was kind of obvious, that didn't work for me too on my Plasma. The behavior with once coming up and then being hidden with the minimize button I couldn't reproduce on my Plasma or Gnome on Ubuntu 20.10.
I have pushed now a change that should fix the close issue but might also have an effect on the minimize issue, can you please try again and report back how it behaves

[2021-03-18 20:13] DamirPorobic commented on #607
@fabianski7 can you see what the last commit hash is? And maybe give it another try, I have pushed a change to the code for the other issue, maybe it has some effect on this one.